In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
####################################################
############# Setear segun cada maquina ############
os.chdir("C:/diego_tools/labo3/dataset")
####################################################

In [3]:
arch_temp = "externos/temperaturaMediaHistoricaCABA.xlsx"
arch_ipc = "externos/IPC.xlsx"
arch_dolar = "externos/cotizacionDolar.xlsx"

## Temperatura

In [4]:
df_temp = pd.read_excel(arch_temp)
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   periodo_fecha   48 non-null     datetime64[ns]
 1   temp_media      36 non-null     float64
 2   temp_max_media  48 non-null     float64
 3   temp_min_media  48 non-null     float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 1.6 KB

In [5]:
# Para 2017 no esta la temperatura media, la aproximo
df_temp.temp_media = np.where(df_temp.temp_media.isna(),(df_temp.temp_max_media+df_temp.temp_min_media)/2,df_temp.temp_media)

In [6]:
df_temp.head()

  periodo_fecha  temp_media  temp_max_media  temp_min_media
0    2017-01-01       25.65            30.4            20.9
1    2017-02-01       25.35            30.1            20.6
2    2017-03-01       22.45            26.9            18.0
3    2017-04-01       18.90            23.5            14.3
4    2017-05-01       15.90            19.5            12.3

In [7]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   periodo_fecha   48 non-null     datetime64[ns]
 1   temp_media      48 non-null     float64
 2   temp_max_media  48 non-null     float64
 3   temp_min_media  48 non-null     float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 1.6 KB

In [8]:
print(min(df_temp.periodo_fecha))
print(max(df_temp.periodo_fecha))

2017-01-01 00:00:00
2020-12-01 00:00:00

## IPC

In [9]:
df_ipc = pd.read_excel(arch_ipc)
df_ipc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fecha   81 non-null     datetime64[ns]
 1   IPC     81 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.4 KB

In [10]:
df_ipc.rename(columns={"fecha":"periodo_fecha"},inplace=True)

In [11]:
df_ipc.head()

  periodo_fecha  IPC
0    2017-01-01  1.6
1    2017-02-01  2.1
2    2017-03-01  2.4
3    2017-04-01  2.7
4    2017-05-01  1.4

In [12]:
print(min(df_ipc.periodo_fecha))
print(max(df_ipc.periodo_fecha))

2017-01-01 00:00:00
2023-09-01 00:00:00

## Dolar

In [13]:
df_dolar = pd.read_excel(arch_dolar)
df_dolar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1668 entries, 0 to 1667
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fecha                   1668 non-null   datetime64[ns]
 1   cotizacion_dolar_venta  1668 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 26.2 KB

In [14]:
df_dolar.head()

       fecha  cotizacion_dolar_venta
0 2017-01-02                  15.920
1 2017-01-03                  15.945
2 2017-01-04                  16.080
3 2017-01-05                  15.960
4 2017-01-06                  15.810

In [15]:
  def getYearMonth(d):
      return str(d.year) + str.rjust(str(d.month),2,"0")

In [16]:
df_dolar['periodo'] = df_dolar['fecha'].apply(lambda x: getYearMonth(x))
df_dolar.periodo.unique()

array(['201701', '201702', '201703', '201704', '201705', '201706',
       '201707', '201708', '201709', '201710', '201711', '201712',
       '201801', '201802', '201803', '201804', '201805', '201806',
       '201807', '201808', '201809', '201810', '201811', '201812',
       '201901', '201902', '201903', '201904', '201905', '201906',
       '201907', '201908', '201909', '201910', '201911', '201912',
       '202001', '202002', '202003', '202004', '202005', '202006',
       '202007', '202008', '202009', '202010', '202011', '202012',
       '202101', '202102', '202103', '202104', '202105', '202106',
       '202107', '202108', '202109', '202110', '202111', '202112',
       '202201', '202202', '202203', '202204', '202205', '202206',
       '202207', '202208', '202209', '202210', '202211', '202212',
       '202301', '202302', '202303', '202304', '202305', '202306',
       '202307', '202308', '202309', '202310'], dtype=object)

In [17]:
df_dolar_resum = df_dolar.groupby("periodo").mean().reset_index()
df_dolar_resum.rename(columns={"cotizacion_dolar_venta":"promedio_mens_dolar_venta"},inplace=True)
df_dolar_resum.promedio_mens_dolar_venta = round(df_dolar_resum.promedio_mens_dolar_venta,2)
df_dolar_resum['periodo_fecha'] = pd.to_datetime(df_dolar_resum['periodo'], format='%Y%m')
df_dolar_resum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   periodo                    82 non-null     object
 1   promedio_mens_dolar_venta  82 non-null     float64
 2   periodo_fecha              82 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 2.0+ KB

C:\Users\dacastro\AppData\Local\Temp\ipykernel_2600\991746535.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_dolar_resum = df_dolar.groupby("periodo").mean().reset_index()

## Variable "Coyuntura pais"

In [18]:
df_coyuntura_pais = pd.DataFrame({"periodo":["201908"],"catastrofe":[True]})
df_coyuntura_pais['periodo_fecha'] = pd.to_datetime(df_coyuntura_pais['periodo'], format='%Y%m')
df_coyuntura_pais.drop(columns="periodo",inplace=True)

df_coyuntura_pais.head()

   catastrofe periodo_fecha
0        True    2019-08-01

In [19]:
df_coyuntura_pais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   catastrofe     1 non-null      bool
 1   periodo_fecha  1 non-null      datetime64[ns]
dtypes: bool(1), datetime64[ns](1)
memory usage: 137.0 bytes

## Join de todo

In [20]:
print(len(df_temp))
df_exogenas = pd.merge(df_temp,df_ipc,on="periodo_fecha",how="left")
df_exogenas = pd.merge(df_exogenas,df_dolar_resum,on="periodo_fecha",how="left")
df_exogenas = pd.merge(df_exogenas,df_coyuntura_pais,on="periodo_fecha",how="left")
print(len(df_exogenas))

48
48

In [21]:
df_exogenas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 47
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   periodo_fecha              48 non-null     datetime64[ns]
 1   temp_media                 48 non-null     float64
 2   temp_max_media             48 non-null     float64
 3   temp_min_media             48 non-null     float64
 4   IPC                        48 non-null     float64
 5   periodo                    48 non-null     object
 6   promedio_mens_dolar_venta  48 non-null     float64
 7   catastrofe                 1 non-null      object
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 3.4+ KB

In [22]:
df_exogenas.catastrofe = df_exogenas.catastrofe.fillna(False)
df_exogenas.drop(columns="periodo",inplace=True)
df_exogenas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 47
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   periodo_fecha              48 non-null     datetime64[ns]
 1   temp_media                 48 non-null     float64
 2   temp_max_media             48 non-null     float64
 3   temp_min_media             48 non-null     float64
 4   IPC                        48 non-null     float64
 5   promedio_mens_dolar_venta  48 non-null     float64
 6   catastrofe                 48 non-null     bool
dtypes: bool(1), datetime64[ns](1), float64(5)
memory usage: 2.7 KB

In [23]:
df_exogenas.head()

,periodo_fecha,temp_media,temp_max_media,temp_min_media,IPC,promedio_mens_dolar_venta,catastrofe
0,2017-01-01,25.65,30.4,20.9,1.6,15.91,False
1,2017-02-01,25.35,30.1,20.6,2.1,15.59,False
2,2017-03-01,22.45,26.9,18.0,2.4,15.52,False
3,2017-04-01,18.90,23.5,14.3,2.7,15.36,False
4,2017-05-01,15.90,19.5,12.3,1.4,15.72,False

In [24]:
df_exogenas.tail(20)

,periodo_fecha,temp_media,temp_max_media,temp_min_media,IPC,promedio_mens_dolar_venta,catastrofe
28,2019-05-01,15.8,20.1,12.0,3.1,44.88,False
29,2019-06-01,14.5,17.8,11.3,2.7,43.73,False
30,2019-07-01,11.7,15.9,11.7,2.2,42.58,False
31,2019-08-01,12.6,17.1,8.6,4.0,52.59,True
32,2019-09-01,15.3,20.4,10.4,5.9,56.46,False
33,2019-10-01,17.8,22.0,13.0,3.3,58.54,False
34,2019-11-01,22.9,27.8,17.6,4.3,59.75,False
35,2019-12-01,24.0,29.5,18.0,3.7,59.88,False
36,2020-01-01,25.1,30.0,20.2,2.3,60.01,False
37,2020-02-01,24.4,29.6,19.3,2.0,61.36,False
38,2020-03-01,24.0,28.6,20.1,3.3,63.12,False
39,2020-04-01,18.0,22.8,13.6,1.5,65.76,False
40,2020-05-01,15.3,20.4,11.0,1.5,67.73,False
41,2020-06-01,12.7,16.9,9.1,2.2,69.54,False
42,2020-07-01,10.5,15.1,6.7,1.9,71.48,False
43,2020-08-01,13.9,19.0,9.2,2.7,73.30,False
44,2020-09-01,14.8,19.3,9.8,2.8,75.20,False
45,2020-10-01,17.3,22.1,12.4,3.8,77.58,False
46,2020-11-01,21.8,26.5,17.3,3.2,79.94,False
47,2020-12-01,23.5,29.0,18.0,4.0,82.72,False

In [25]:
df_exogenas.to_csv("emp3_exogenas.csv",index=False)