In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
####################################################
############# Setear segun cada maquina ############
#os.chdir("C:/Users/herna/labo3_empresa3_repo/datasets")
os.chdir("C:/diego_tools/labo3/dataset")
####################################################

In [3]:
arch_maestro_prod = "tb_productos_02.txt"

In [4]:
star_products = [20001, 20002, 20003, 20004, 20005, 20006, 20007, 20009, 20011, 20032]
print(len(star_products))

10

## Maestro de productos

In [5]:
df_product = pd.read_csv(arch_maestro_prod,sep="\t")

In [6]:
df_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262 entries, 0 to 1261
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cat1        1262 non-null   object
 1   cat2        1262 non-null   object
 2   cat3        1262 non-null   object
 3   brand       1262 non-null   object
 4   sku_size    1262 non-null   int64
 5   product_id  1262 non-null   int64
dtypes: int64(2), object(4)
memory usage: 59.3+ KB

In [7]:
# Por las dudas, eliminamos duplicados
print(len(df_product))
df_product.drop_duplicates(inplace=True)
print(len(df_product))

1262
1253

In [8]:
print(len(df_product.product_id.unique()))
print(len(df_product))

1251
1253

In [9]:
# Revisamos cuales son los que tienen mas de una descripcion
df_product.groupby("product_id").filter(lambda x: len(x) > 1)

    cat1     cat2            cat3     brand  sku_size  product_id
915   PC  CABELLO  ACONDICIONADOR  SHAMPOO3       350       20623
917   PC  CABELLO  ACONDICIONADOR  SHAMPOO3       350       20230
981   PC  CABELLO         SHAMPOO  SHAMPOO3       350       20623
983   PC  CABELLO         SHAMPOO  SHAMPOO3       350       20230

In [10]:
# Eliminamos los que son acondicionador
df_product = df_product[~((df_product.product_id.isin([20623,20230])) & (df_product.cat3=="ACONDICIONADOR"))]
print(len(df_product.product_id.unique()))
print(len(df_product))

1251
1251

In [11]:
df_product.cat1.value_counts(dropna=False)

PC       721
HC       292
FOODS    225
REF       13
Name: cat1, dtype: int64

In [12]:
df_product[df_product.cat1=="REF"]

    cat1 cat2      cat3     brand  sku_size  product_id
673  REF   TE    Frutas  TWININGS        20       21271
674  REF   TE   Hierbas  TWININGS        20       21218
675  REF   TE  Especial  TWININGS        10       21257
676  REF   TE  Especial  TWININGS        20       21181
677  REF   TE  Especial  TWININGS        10       21255
678  REF   TE  Especial  TWININGS        20       21170
679  REF   TE   Hierbas  TWININGS        20       21202
680  REF   TE    Frutas  TWININGS        20       21264
681  REF   TE     Verde  TWININGS        20       21192
682  REF   TE      Azul  TWININGS        20       20982
683  REF   TE      Azul  TWININGS        10       21161
684  REF   TE     Verde  TWININGS        20       21222
685  REF   TE      Azul  TWININGS       225       21185

--> los reasignaremos a FOODS

In [13]:
df_product.cat1 = np.where(df_product.cat1=="REF","FOODS",df_product.cat1)

In [14]:
df_product.cat1.value_counts(dropna=False)

PC       721
HC       292
FOODS    238
Name: cat1, dtype: int64

In [15]:
df_product.cat2.value_counts(dropna=False)

CABELLO                352
DEOS                   168
SOPAS Y CALDOS         133
PIEL2                  114
ROPA LAVADO             99
HOGAR                   77
PIEL1                   73
ADEREZOS                69
VAJILLA                 47
PROFESIONAL             34
ROPA ACONDICIONADOR     33
OTROS                   23
DENTAL                  14
TE                      13
ROPA MANCHAS             2
Name: cat2, dtype: int64

In [16]:
df_product.cat3.value_counts(dropna=False)

SHAMPOO           146
ACONDICIONADOR    116
Aero              114
Liquido            63
Polvo              48
                 ...
Pure de Tomate      1
Jabon Hotel         1
Jabon Barba         1
Chimichurri         1
Aji Picante         1
Name: cat3, Length: 99, dtype: int64

In [17]:
df_product["producto_estrella"]=np.where(df_product.product_id.isin(star_products),1,0)

In [18]:
df_product.to_csv("maestro_productos_depurado.csv", index=False)