In [1]:
import pandas as pd
import gzip
import os
import numpy as np

 # A la empresa le interesa el rastreo de lo que marketing considera los productos y lo que ventas considera los mejores clientes.

## Mejores Productos
- product_id = {20001, 20002, 20003, 20004, 20005, 20006, 20007, 20009, 20011, 20032} (diez productos)

## Mejores Clientes
- customer_id = {10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009, 10011, 10012, 10013} (doce clientes)

Total de <producto, cliente> a predecir = 10 * 12 = 120

# Objetivo
- Es el 01-enero-2020 a las 00:01 y disponibilizamos las ventas del periodo 2021912.
- El 02-enero a las 18:00 nos deben entregar:
  - El primer forecast de ventas para cada producto que se harán durante el mes 202002, de forma que nuestras plantas puedan fabricarlos durante el mes de 202001.
  - El segundo forecast es las ventas esperadas en 202002, para los 120 pares de <mejores_clientes, mejores_productos>.

In [2]:
####################################################
############# Setear segun cada maquina ############
#os.chdir("C:/Users/herna/labo3_empresa3_repo/datasets")
#os.chdir("C:/diego_tools/labo3/dataset")
os.chdir("/home/dcastro_contacto/buckets/b1/datasets/")

####################################################

In [3]:
arch_sellout = "tb_sellout_02.txt.gz"
arch_maestro_prod = "maestro_productos_depurado.csv"
arch_exogenas = "emp3_exogenas.csv"
arch_prod_ids_prediccion = "productos_a_predecir.csv"

In [4]:
# Variables para definir que atributos se descartan
meses_para_control_vigencia = [201904,201905,201906] #meses en los cuales deben aparecer los productos para ser considerados vigentes (NO discontinuados) y ser tomados en la prediccion
tope_fecha_historia = 201902 #los productos que aparezcan desde este mes (inclusive) en adelante, se excluyen por tener poca historia de ventas

In [5]:
def diferencia_meses(d1, d2):
    return (d1.year - d2.year) * 12 + d1.month - d2.month

## Sellout

In [6]:
# Abrir el archivo .gz y cargarlo en un DataFrame
with gzip.open(arch_sellout, 'rt') as archivo:
    # Leer el archivo línea por línea
    df_sellout = pd.read_csv(archivo,sep="\t")

In [7]:
df_sellout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2945818 entries, 0 to 2945817
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   periodo                int64
 1   customer_id            int64
 2   product_id             int64
 3   plan_precios_cuidados  int64
 4   cust_request_qty       int64
 5   cust_request_tn        float64
 6   tn                     float64
dtypes: float64(2), int64(5)
memory usage: 157.3 MB

In [8]:
# Por las dudas, eliminamos duplicados
print(len(df_sellout))
df_sellout.drop_duplicates(inplace=True)
print(len(df_sellout))

2945818
2945818

**--> sin duplicados**

In [9]:
df_sellout.isna().sum()

periodo                  0
customer_id              0
product_id               0
plan_precios_cuidados    0
cust_request_qty         0
cust_request_tn          0
tn                       0
dtype: int64

**--> sin nulos**

In [10]:
df_sellout.periodo.unique()

array([201701, 201702, 201703, 201704, 201705, 201706, 201707, 201708,
       201709, 201710, 201711, 201712, 201801, 201802, 201803, 201804,
       201805, 201806, 201807, 201808, 201809, 201810, 201811, 201812,
       201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908,
       201909, 201910, 201911, 201912])

In [11]:
len(df_sellout.product_id.unique())

1233

--> algunos productos no van a tener descripción

In [12]:
len(df_sellout.customer_id.unique())

597

In [13]:
df_sellout.plan_precios_cuidados.unique()

array([0, 1])

In [14]:
df_sellout[df_sellout.tn==0]

Empty DataFrame
Columns: [periodo, customer_id, product_id, plan_precios_cuidados, cust_request_qty, cust_request_tn, tn]
Index: []

--> si no hay ventas, no hay registro en 0 (directamente no hay registro)

In [15]:
df_sellout.head()

,periodo,customer_id,product_id,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn
0,201701,10234,20524,0,2,0.05300,0.05300
1,201701,10032,20524,0,1,0.13628,0.13628
2,201701,10217,20524,0,1,0.03028,0.03028
3,201701,10125,20524,0,1,0.02271,0.02271
4,201701,10012,20524,0,11,1.54452,1.54452

In [16]:
# Como control, sumo tns
tn_suma_original = round(sum(df_sellout.tn))
print("Toneladas Total Control:", round(sum(df_sellout.tn),0))

Toneladas Total Control: 1324989.0

## Descarte de Productos que no hay que predecir

In [17]:
# Discontinuados (sin ventas en 3 meses mas adelante)
product_ids_vigentes =  df_sellout[df_sellout.periodo.isin(meses_para_control_vigencia)].product_id.unique()
print("Vigentes:", len(product_ids_vigentes))

product_ids_discontinuados = set(df_sellout.product_id.unique()).difference(set(product_ids_vigentes))
print("Discontinuados:", len(product_ids_discontinuados))

#Sin historia suficiente (minima fecha >= 201902)
product_ids_sin_hist_sufic = df_sellout.groupby("product_id").agg({"periodo":"min"}).reset_index()
product_ids_sin_hist_sufic = product_ids_sin_hist_sufic[product_ids_sin_hist_sufic.periodo>=tope_fecha_historia]
print(product_ids_sin_hist_sufic.head(5))
product_ids_sin_hist_sufic = product_ids_sin_hist_sufic.product_id.unique()
print("Menos 3 meses hist:", len(product_ids_sin_hist_sufic))

#Interseccion y union
print("Interseccion: ", len((set(product_ids_discontinuados).intersection(set(product_ids_sin_hist_sufic)))))
print("Union: ", len((set(product_ids_discontinuados).union(set(product_ids_sin_hist_sufic)))))


product_ids_para_predecir = set(df_sellout.product_id.unique()).difference((set(product_ids_discontinuados).union(set(product_ids_sin_hist_sufic))))
print("\nTotal:", len(product_ids_para_predecir))

Vigentes: 958
Discontinuados: 275
     product_id  periodo
31        20032   201902
126       20127   201909
173       20174   201906
208       20210   201909
211       20213   201908
Menos 3 meses hist: 182
Interseccion:  92
Union:  365

Total: 868

In [18]:
#Se guardan en un csv aparte
df_prods_prediccion = pd.DataFrame(data={"product_id":list(product_ids_para_predecir)})
df_prods_prediccion.to_csv(arch_prod_ids_prediccion, index=False)

## Completado de Períodos sin Ventas

* Los pares <cliente,producto> que no aparecen un mes van a ser completados con un registro en 0
* Sin embargo, se completará a partir de su primer mes (y no para atrás)
* Esto aplicará para el primer mes del cliente y del producto

In [19]:
periodos = df_sellout.periodo.unique()
cant_periodos = len(periodos)
periodos, cant_periodos

(array([201701, 201702, 201703, 201704, 201705, 201706, 201707, 201708,
        201709, 201710, 201711, 201712, 201801, 201802, 201803, 201804,
        201805, 201806, 201807, 201808, 201809, 201810, 201811, 201812,
        201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908,
        201909, 201910, 201911, 201912]),
 36)

In [20]:
productos = df_sellout.product_id.unique()
cant_productos = len(productos)
cant_productos

1233

In [21]:
clientes = df_sellout.customer_id.unique()
cant_clientes = len(clientes)
cant_clientes

597

In [22]:
len(df_sellout),cant_productos*cant_periodos*cant_clientes

(2945818, 26499636)

**--> no todos los productos y clientes están en todos los períodos**

In [23]:
# Obtengo el primer mes de cada producto
df_primer_mes_prod = df_sellout.groupby("product_id").agg({"periodo":"min"}).reset_index()
df_primer_mes_prod = df_primer_mes_prod.rename(columns={"periodo":"primer_periodo_prod"})
df_primer_mes_prod.tail()

      product_id  primer_periodo_prod
1228       21295               201701
1229       21296               201708
1230       21297               201701
1231       21298               201708
1232       21299               201708

In [24]:
# Obtengo el primer mes de cada cliente
df_primer_mes_cliente = df_sellout.groupby("customer_id").agg({"periodo":"min"}).reset_index()
df_primer_mes_cliente = df_primer_mes_cliente.rename(columns={"periodo":"primer_periodo_cliente"})
df_primer_mes_cliente.tail()

     customer_id  primer_periodo_cliente
592        10633                  201701
593        10634                  201702
594        10635                  201701
595        10636                  201702
596        10637                  201709

In [25]:
# Se va a poner 0 a todos los periodos donde el producto no se vendio
df_cartesiano = pd.DataFrame(data={"product_id":productos}).merge(pd.DataFrame(data={"periodo":periodos}), how='cross')
df_cartesiano = df_cartesiano.merge(pd.DataFrame(data={"customer_id":clientes}), how='cross')

df_cartesiano["cero_ventas"] = 0
len(df_cartesiano)

26499636

In [26]:
df_cartesiano.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26499636 entries, 0 to 26499635
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   product_id   int64
 1   periodo      int64
 2   customer_id  int64
 3   cero_ventas  int64
dtypes: int64(4)
memory usage: 1010.9 MB

In [27]:
df_cartesiano.head()

   product_id  periodo  customer_id  cero_ventas
0       20524   201701        10234            0
1       20524   201701        10032            0
2       20524   201701        10217            0
3       20524   201701        10125            0
4       20524   201701        10012            0

In [28]:
df_sellout_complet = df_cartesiano.merge(df_sellout, how="left",on=["product_id","customer_id","periodo"])
len(df_sellout_complet)

26499636

In [29]:
df_sellout_complet.head()

,product_id,periodo,customer_id,cero_ventas,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn
0,20524,201701,10234,0,0.0,2.0,0.05300,0.05300
1,20524,201701,10032,0,0.0,1.0,0.13628,0.13628
2,20524,201701,10217,0,0.0,1.0,0.03028,0.03028
3,20524,201701,10125,0,0.0,1.0,0.02271,0.02271
4,20524,201701,10012,0,0.0,11.0,1.54452,1.54452

In [30]:
df_sellout_complet.isna().sum()

product_id                      0
periodo                         0
customer_id                     0
cero_ventas                     0
plan_precios_cuidados    23553818
cust_request_qty         23553818
cust_request_tn          23553818
tn                       23553818
dtype: int64

In [31]:
# Imputo
df_sellout_complet.cero_ventas = np.where(df_sellout_complet.tn.isna(),1,0)
df_sellout_complet.tn = np.where(df_sellout_complet.cero_ventas==1,0,df_sellout_complet.tn)
df_sellout_complet.cust_request_tn = np.where(df_sellout_complet.cero_ventas==1,0,df_sellout_complet.cust_request_tn)
df_sellout_complet.cust_request_qty = np.where(df_sellout_complet.cero_ventas==1,0,df_sellout_complet.cust_request_qty)
df_sellout_complet.plan_precios_cuidados = np.where(df_sellout_complet.cero_ventas==1,0,df_sellout_complet.plan_precios_cuidados)

In [32]:
df_sellout_complet.isna().sum()

product_id               0
periodo                  0
customer_id              0
cero_ventas              0
plan_precios_cuidados    0
cust_request_qty         0
cust_request_tn          0
tn                       0
dtype: int64

In [33]:
df_sellout_complet.cero_ventas.sum(),len(df_cartesiano)-len(df_sellout)

(23553818, 23553818)

In [34]:
# Ahora, cruzo con el primer mes y borro aquellos registros previos al primer mes de datos
print(len(df_sellout_complet))
df_sellout_complet_desde_1er_mes = df_sellout_complet.merge(df_primer_mes_prod,on="product_id",how="inner")
df_sellout_complet_desde_1er_mes = df_sellout_complet_desde_1er_mes.merge(df_primer_mes_cliente,on="customer_id",how="inner")
print(len(df_sellout_complet_desde_1er_mes))

26499636
26499636

In [35]:
df_sellout_complet_desde_1er_mes = df_sellout_complet_desde_1er_mes[(df_sellout_complet_desde_1er_mes.periodo >= df_sellout_complet_desde_1er_mes.primer_periodo_prod) & (df_sellout_complet_desde_1er_mes.periodo >= df_sellout_complet_desde_1er_mes.primer_periodo_cliente)]

print(len(df_sellout_complet_desde_1er_mes))
df_sellout_complet_desde_1er_mes.tail(10)

19639107

,product_id,periodo,customer_id,cero_ventas,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,primer_periodo_prod,primer_periodo_cliente
26499311,20992,201912,10572,1,0.0,0.0,0.0,0.0,201910,201912
26499347,21018,201912,10572,1,0.0,0.0,0.0,0.0,201910,201912
26499383,20993,201912,10572,1,0.0,0.0,0.0,0.0,201910,201912
26499419,20764,201912,10572,1,0.0,0.0,0.0,0.0,201910,201912
26499455,21026,201912,10572,1,0.0,0.0,0.0,0.0,201910,201912
26499491,21054,201912,10572,1,0.0,0.0,0.0,0.0,201910,201912
26499527,20728,201912,10572,1,0.0,0.0,0.0,0.0,201911,201912
26499563,20792,201912,10572,1,0.0,0.0,0.0,0.0,201912,201912
26499599,20854,201912,10572,1,0.0,0.0,0.0,0.0,201912,201912
26499635,20770,201912,10572,1,0.0,0.0,0.0,0.0,201912,201912

In [36]:
df_sellout_complet_desde_1er_mes['periodo_fecha'] = pd.to_datetime(df_sellout_complet_desde_1er_mes['periodo'], format='%Y%m')

# Se agrega una variable que tenga el mes y tambien la cantidad de meses de historia del producto
df_sellout_complet_desde_1er_mes["mes"] = pd.DatetimeIndex(df_sellout_complet_desde_1er_mes.periodo_fecha).month
df_sellout_complet_desde_1er_mes['primer_periodo_fecha_prod'] = pd.to_datetime(df_sellout_complet_desde_1er_mes['primer_periodo_prod'], format='%Y%m')
df_sellout_complet_desde_1er_mes["meses_historia_prod"]=df_sellout_complet_desde_1er_mes.apply(lambda row: diferencia_meses(row["periodo_fecha"],row["primer_periodo_fecha_prod"]),axis=1)
df_sellout_complet_desde_1er_mes['primer_periodo_fecha_cliente'] = pd.to_datetime(df_sellout_complet_desde_1er_mes['primer_periodo_cliente'], format='%Y%m')
df_sellout_complet_desde_1er_mes["meses_historia_cliente"]=df_sellout_complet_desde_1er_mes.apply(lambda row: diferencia_meses(row["periodo_fecha"],row["primer_periodo_fecha_cliente"]),axis=1)

# Dejo unicamente las columnas de meses_historia
df_sellout_complet_desde_1er_mes = df_sellout_complet_desde_1er_mes.drop(columns=["primer_periodo_prod","primer_periodo_cliente","primer_periodo_fecha_prod","primer_periodo_fecha_cliente"])

KeyboardInterrupt:

## Incorporo Maestro y Exógenas

In [37]:
df_maestro_prod = pd.read_csv(arch_maestro_prod)

In [38]:
df_maestro_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1251 entries, 0 to 1250
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cat1               1251 non-null   object
 1   cat2               1251 non-null   object
 2   cat3               1251 non-null   object
 3   brand              1251 non-null   object
 4   sku_size           1251 non-null   int64
 5   product_id         1251 non-null   int64
 6   producto_estrella  1251 non-null   int64
dtypes: int64(3), object(4)
memory usage: 68.5+ KB

In [39]:
df_maestro_prod.head()

  cat1         cat2     cat3    brand  sku_size  product_id  producto_estrella
0   HC  ROPA LAVADO  Liquido  LIMPIEX       900       20280                  0
1   HC  ROPA LAVADO  Liquido  LIMPIEX       450       20180                  0
2   HC  ROPA LAVADO  Liquido  LIMPIEX       120       20332                  0
3   HC  ROPA LAVADO  Liquido  LIMPIEX       450       20222                  0
4   HC  ROPA LAVADO  Liquido  LIMPIEX       900       20288                  0

In [40]:
prods_desconocidos = set(df_sellout_complet_desde_1er_mes.product_id).difference(set(df_maestro_prod.product_id))
print(len(prods_desconocidos))

45

In [41]:
df_tn_prod_desc = df_sellout_complet_desde_1er_mes[df_sellout_complet_desde_1er_mes.product_id.isin(prods_desconocidos)]
df_tn_prod_desc.tn.sum()

360.2086800000002

In [42]:
print(len(df_sellout_complet_desde_1er_mes))
df_sellout_complet_desde_1er_mes = pd.merge(df_sellout_complet_desde_1er_mes, df_maestro_prod, on='product_id', how='left')
print(len(df_sellout_complet_desde_1er_mes))
df_sellout_complet_desde_1er_mes.head()

19639107
19639107

,product_id,periodo,customer_id,cero_ventas,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,primer_periodo_prod,primer_periodo_cliente,periodo_fecha,mes,primer_periodo_fecha_prod,cat1,cat2,cat3,brand,sku_size,producto_estrella
0,20524,201701,10234,0,0.0,2.0,0.05300,0.05300,201701,201701,2017-01-01,1,2017-01-01,HC,VAJILLA,Cristalino,Importado,500.0,0.0
1,20524,201702,10234,1,0.0,0.0,0.00000,0.00000,201701,201701,2017-02-01,2,2017-01-01,HC,VAJILLA,Cristalino,Importado,500.0,0.0
2,20524,201703,10234,0,0.0,1.0,0.01514,0.01514,201701,201701,2017-03-01,3,2017-01-01,HC,VAJILLA,Cristalino,Importado,500.0,0.0
3,20524,201704,10234,1,0.0,0.0,0.00000,0.00000,201701,201701,2017-04-01,4,2017-01-01,HC,VAJILLA,Cristalino,Importado,500.0,0.0
4,20524,201705,10234,1,0.0,0.0,0.00000,0.00000,201701,201701,2017-05-01,5,2017-01-01,HC,VAJILLA,Cristalino,Importado,500.0,0.0

In [43]:
df_sellout_complet_desde_1er_mes.cat1 = np.where(df_sellout_complet_desde_1er_mes.product_id.isin(prods_desconocidos),"desconocida",df_sellout_complet_desde_1er_mes.cat1)
df_sellout_complet_desde_1er_mes.cat2 = np.where(df_sellout_complet_desde_1er_mes.product_id.isin(prods_desconocidos),"desconocida",df_sellout_complet_desde_1er_mes.cat2)
df_sellout_complet_desde_1er_mes.cat3 = np.where(df_sellout_complet_desde_1er_mes.product_id.isin(prods_desconocidos),"desconocida",df_sellout_complet_desde_1er_mes.cat3)
df_sellout_complet_desde_1er_mes.brand = np.where(df_sellout_complet_desde_1er_mes.product_id.isin(prods_desconocidos),"desconocida",df_sellout_complet_desde_1er_mes.brand)
df_sellout_complet_desde_1er_mes.sku_size = np.where(df_sellout_complet_desde_1er_mes.product_id.isin(prods_desconocidos),0,df_sellout_complet_desde_1er_mes.sku_size)
df_sellout_complet_desde_1er_mes.producto_estrella = np.where(df_sellout_complet_desde_1er_mes.product_id.isin(prods_desconocidos),0,df_sellout_complet_desde_1er_mes.producto_estrella)

In [44]:
df_exogenas = pd.read_csv(arch_exogenas)
df_exogenas.periodo_fecha = pd.to_datetime(df_exogenas.periodo_fecha)

df_exogenas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   periodo_fecha              48 non-null     datetime64[ns]
 1   temp_media                 48 non-null     float64
 2   temp_max_media             48 non-null     float64
 3   temp_min_media             48 non-null     float64
 4   IPC                        48 non-null     float64
 5   promedio_mens_dolar_venta  48 non-null     float64
 6   catastrofe                 48 non-null     bool
dtypes: bool(1), datetime64[ns](1), float64(5)
memory usage: 2.4 KB

In [45]:
# Le agregamos las exogenas
print(len(df_sellout_complet_desde_1er_mes))
df_sellout_complet_desde_1er_mes = pd.merge(df_sellout_complet_desde_1er_mes,df_exogenas,on="periodo_fecha",how="left")
print(len(df_sellout_complet_desde_1er_mes))

19639107
19639107

In [47]:
# Como control, sumo tns
print("Toneladas Total Control:", round(sum(df_sellout_complet_desde_1er_mes.tn),0),tn_suma_original==round(sum(df_sellout_complet_desde_1er_mes.tn),0))

Toneladas Total Control: 1324989.0 True

In [48]:
df_sellout_complet_desde_1er_mes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19639107 entries, 0 to 19639106
Data columns (total 25 columns):
 #   Column                     Dtype
---  ------                     -----
 0   product_id                 int64
 1   periodo                    int64
 2   customer_id                int64
 3   cero_ventas                int64
 4   plan_precios_cuidados      float64
 5   cust_request_qty           float64
 6   cust_request_tn            float64
 7   tn                         float64
 8   primer_periodo_prod        int64
 9   primer_periodo_cliente     int64
 10  periodo_fecha              datetime64[ns]
 11  mes                        int64
 12  primer_periodo_fecha_prod  datetime64[ns]
 13  cat1                       object
 14  cat2                       object
 15  cat3                       object
 16  brand                      object
 17  sku_size                   float64
 18  producto_estrella          float64
 19  temp_media                 float64
 20  temp_max_media             float64
 21  temp_min_media             float64
 22  IPC                        float64
 23  promedio_mens_dolar_venta  float64
 24  catastrofe                 bool
dtypes: bool(1), datetime64[ns](2), float64(11), int64(7), object(4)
memory usage: 3.7+ GB

In [49]:
# Ordeno para que luego el FE funcione correctamente usando SHIFT
df_sellout_complet_desde_1er_mes = df_sellout_complet_desde_1er_mes.sort_values(by=["product_id","customer_id","periodo"],ascending=True)

In [50]:
df_sellout_complet_desde_1er_mes.head(50)

,product_id,periodo,customer_id,cero_ventas,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,primer_periodo_prod,primer_periodo_cliente,...,cat3,brand,sku_size,producto_estrella,temp_media,temp_max_media,temp_min_media,IPC,promedio_mens_dolar_venta,catastrofe
2276064,20001,201701,10001,0,0.0,11.0,99.43861,99.43861,201701,201701,...,Liquido,ARIEL,3000.0,1.0,25.65,30.4,20.9,1.6,15.91,False
2276065,20001,201702,10001,0,0.0,23.0,198.84365,198.84365,201701,201701,...,Liquido,ARIEL,3000.0,1.0,25.35,30.1,20.6,2.1,15.59,False
2276066,20001,201703,10001,0,0.0,33.0,92.46537,92.46537,201701,201701,...,Liquido,ARIEL,3000.0,1.0,22.45,26.9,18.0,2.4,15.52,False
2276067,20001,201704,10001,0,0.0,8.0,13.29728,13.29728,201701,201701,...,Liquido,ARIEL,3000.0,1.0,18.90,23.5,14.3,2.7,15.36,False
2276068,20001,201705,10001,0,0.0,15.0,101.20711,101.00563,201701,201701,...,Liquido,ARIEL,3000.0,1.0,15.90,19.5,12.3,1.4,15.72,False
2276069,20001,201706,10001,0,0.0,25.0,128.04792,128.04792,201701,201701,...,Liquido,ARIEL,3000.0,1.0,13.70,17.9,9.5,1.2,16.12,False
2276070,20001,201707,10001,0,0.0,18.0,101.20711,101.20711,201701,201701,...,Liquido,ARIEL,3000.0,1.0,13.35,17.0,9.7,1.7,17.19,False
2276071,20001,201708,10001,0,0.0,17.0,43.33930,43.33930,201701,201701,...,Liquido,ARIEL,3000.0,1.0,15.15,19.2,11.1,1.4,17.42,False
2276072,20001,201709,10001,0,0.0,36.0,289.35024,289.35024,201701,201701,...,Liquido,ARIEL,3000.0,1.0,15.95,20.3,11.6,1.9,18.15,False
2276073,20001,201710,10001,0,0.0,22.0,222.11389,222.11389,201701,201701,...,Liquido,ARIEL,3000.0,1.0,17.15,23.0,11.3,1.5,17.46,False
2276074,20001,201711,10001,0,0.0,20.0,114.01190,111.54944,201701,201701,...,Liquido,ARIEL,3000.0,1.0,20.70,26.2,15.2,1.4,17.48,False
2276075,20001,201712,10001,0,0.0,19.0,131.27150,131.27150,201701,201701,...,Liquido,ARIEL,3000.0,1.0,24.70,30.3,19.1,3.1,17.73,False
2276076,20001,201801,10001,0,0.0,26.0,49.61857,49.61857,201701,201701,...,Liquido,ARIEL,3000.0,1.0,25.60,31.4,20.8,1.8,19.04,False
2276077,20001,201802,10001,0,0.0,16.0,92.13735,88.44065,201701,201701,...,Liquido,ARIEL,3000.0,1.0,24.90,30.4,20.3,2.4,19.83,False
2276078,20001,201803,10001,0,0.0,38.0,214.72336,214.72336,201701,201701,...,Liquido,ARIEL,3000.0,1.0,22.00,27.9,17.1,2.3,20.24,False
2276079,20001,201804,10001,0,0.0,23.0,133.45031,132.83419,201701,201701,...,Liquido,ARIEL,3000.0,1.0,21.40,25.7,18.6,2.7,20.23,False
2276080,20001,201805,10001,0,0.0,21.0,165.73507,165.73507,201701,201701,...,Liquido,ARIEL,3000.0,1.0,16.10,20.3,13.2,2.1,23.73,False
2276081,20001,201806,10001,0,0.0,33.0,92.29410,92.29410,201701,201701,...,Liquido,ARIEL,3000.0,1.0,10.60,15.7,6.9,3.7,26.62,False
2276082,20001,201807,10001,0,0.0,40.0,257.53628,256.05760,201701,201701,...,Liquido,ARIEL,3000.0,1.0,10.50,13.5,8.0,3.1,27.57,False
2276083,20001,201808,10001,0,0.0,23.0,139.24210,139.24210,201701,201701,...,Liquido,ARIEL,3000.0,1.0,12.30,17.0,8.0,3.9,30.17,False
2276084,20001,201809,10001,0,0.0,54.0,358.57922,358.57922,201701,201701,...,Liquido,ARIEL,3000.0,1.0,17.40,21.5,13.8,6.5,38.53,False
2276085,20001,201810,10001,0,0.0,22.0,248.17132,245.21397,201701,201701,...,Liquido,ARIEL,3000.0,1.0,18.00,22.4,13.2,5.4,37.06,False
2276086,20001,201811,10001,0,0.0,19.0,246.93909,241.02438,201701,201701,...,Liquido,ARIEL,3000.0,1.0,21.60,26.3,16.7,3.2,36.48,False
2276087,20001,201812,10001,0,0.0,20.0,254.62373,254.62373,201701,201701,...,Liquido,ARIEL,3000.0,1.0,22.60,27.4,17.6,2.6,37.83,False
2276088,20001,201901,10001,0,0.0,53.0,393.26092,386.60688,201701,201701,...,Liquido,ARIEL,3000.0,1.0,24.90,29.3,20.7,2.9,37.39,False
2276089,20001,201902,10001,0,0.0,39.0,309.90610,309.90610,201701,201701,...,Liquido,ARIEL,3000.0,1.0,24.20,29.1,19.2,3.8,38.40,False
2276090,20001,201903,10001,0,0.0,23.0,142.87158,130.54927,201701,201701,...,Liquido,ARIEL,3000.0,1.0,21.00,25.6,16.8,4.7,41.52,False
2276091,20001,201904,10001,0,0.0,33.0,364.37071,364.37071,201701,201701,...,Liquido,ARIEL,3000.0,1.0,19.30,24.3,15.0,3.4,43.26,False
2276092,20001,201905,10001,0,0.0,31.0,439.90647,439.90647,201701,201701,...,Liquido,ARIEL,3000.0,1.0,15.80,20.1,12.0,3.1,44.88,False
2276093,20001,201906,10001,0,0.0,7.0,65.92436,65.92436,201701,201701,...,Liquido,ARIEL,3000.0,1.0,14.50,17.8,11.3,2.7,43.73,False
2276094,20001,201907,10001,0,0.0,14.0,144.78714,144.78714,201701,201701,...,Liquido,ARIEL,3000.0,1.0,11.70,15.9,11.7,2.2,42.58,False
2276095,20001,201908,10001,0,0.0,9.0,33.63991,33.63991,201701,201701,...,Liquido,ARIEL,3000.0,1.0,12.60,17.1,8.6,4.0,52.59,True
2276096,20001,201909,10001,0,0.0,18.0,111.51691,109.05244,201701,201701,...,Liquido,ARIEL,3000.0,1.0,15.30,20.4,10.4,5.9,56.46,False
2276097,20001,201910,10001,0,0.0,21.0,178.49426,176.02980,201701,201701,...,Liquido,ARIEL,3000.0,1.0,17.80,22.0,13.0,3.3,58.54,False
2276098,20001,201911,10001,0,0.0,21.0,240.59870,236.65556,201701,201701,...,Liquido,ARIEL,3000.0,1.0,22.90,27.8,17.6,4.3,59.75,False
2276099,20001,201912,10001,0,0.0,18.0,214.72185,180.21938,201701,201701,...,Liquido,ARIEL,3000.0,1.0,24.00,29.5,18.0,3.7,59.88,False
1199424,20001,201701,10002,0,0.0,17.0,38.68301,35.72806,201701,201701,...,Liquido,ARIEL,3000.0,1.0,25.65,30.4,20.9,1.6,15.91,False
1199425,20001,201702,10002,0,0.0,15.0,6.79415,6.79415,201701,201701,...,Liquido,ARIEL,3000.0,1.0,25.35,30.1,20.6,2.1,15.59,False
1199426,20001,201703,10002,0,0.0,22.0,29.96366,29.94128,201701,201701,...,Liquido,ARIEL,3000.0,1.0,22.45,26.9,18.0,2.4,15.52,False
1199427,20001,201704,10002,0,0.0,28.0,23.56126,22.81133,201701,201701,...,Liquido,ARIEL,3000.0,1.0,18.90,23.5,14.3,2.7,15.36,False
1199428,20001,201705,10002,0,0.0,47.0,32.85146,31.22847,201701,201701,...,Liquido,ARIEL,3000.0,1.0,15.90,19.5,12.3,1.4,15.72,False
1199429,20001,201706,10002,0,0.0,61.0,48.52166,47.57025,201701,201701,...,Liquido,ARIEL,3000.0,1.0,13.70,17.9,9.5,1.2,16.12,False
1199430,20001,201707,10002,0,0.0,30.0,22.20691,21.84874,201701,201701,...,Liquido,ARIEL,3000.0,1.0,13.35,17.0,9.7,1.7,17.19,False
1199431,20001,201708,10002,0,0.0,16.0,21.61368,17.08052,201701,201701,...,Liquido,ARIEL,3000.0,1.0,15.15,19.2,11.1,1.4,17.42,False
1199432,20001,201709,10002,0,0.0,49.0,64.71793,59.17739,201701,201701,...,Liquido,ARIEL,3000.0,1.0,15.95,20.3,11.6,1.9,18.15,False
1199433,20001,201710,10002,0,0.0,3.0,3.31313,3.31313,201701,201701,...,Liquido,ARIEL,3000.0,1.0,17.15,23.0,11.3,1.5,17.46,False
1199434,20001,201711,10002,0,0.0,17.0,48.81267,48.81267,201701,201701,...,Liquido,ARIEL,3000.0,1.0,20.70,26.2,15.2,1.4,17.48,False
1199435,20001,201712,10002,0,0.0,16.0,41.55961,41.53722,201701,201701,...,Liquido,ARIEL,3000.0,1.0,24.70,30.3,19.1,3.1,17.73,False
1199436,20001,201801,10002,0,0.0,44.0,47.16730,44.70484,201701,201701,...,Liquido,ARIEL,3000.0,1.0,25.60,31.4,20.8,1.8,19.04,False
1199437,20001,201802,10002,0,0.0,3.0,10.01468,8.53600,201701,201701,...,Liquido,ARIEL,3000.0,1.0,24.90,30.4,20.3,2.4,19.83,False

In [51]:
df_sellout_complet_desde_1er_mes.isna().sum()

product_id                   0
periodo                      0
customer_id                  0
cero_ventas                  0
plan_precios_cuidados        0
cust_request_qty             0
cust_request_tn              0
tn                           0
primer_periodo_prod          0
primer_periodo_cliente       0
periodo_fecha                0
mes                          0
primer_periodo_fecha_prod    0
cat1                         0
cat2                         0
cat3                         0
brand                        0
sku_size                     0
producto_estrella            0
temp_media                   0
temp_max_media               0
temp_min_media               0
IPC                          0
promedio_mens_dolar_venta    0
catastrofe                   0
dtype: int64

In [52]:
# Exportar el DataFrame a un archivo CSV
df_sellout_complet_desde_1er_mes.to_csv("emp3_sellout_base.csv", index=False)