In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

from warnings import simplefilter 
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
simplefilter(action="ignore", category=pd.errors.SettingWithCopyWarning)

In [2]:
####################################################
############# Setear segun cada maquina ############
#os.chdir("C:/Users/herna/labo3_empresa3_repo/")
#os.chdir("C:/diego_tools/labo3/")
os.chdir("/home/dcastro_contacto/buckets/b1/")
####################################################

In [3]:
#################################
###### Variables Generales ######
num_lags = 3
cant_clusters = 1

In [4]:
arch_cluster_prefijo = "datasets/emp3_sellout_base_cluster_"
arch_salida_prefijo = "datasets/emp3_sellout_train_cluster_"

In [5]:
def crear_nuevos_features(df_param):
    # Diferencia entre lo solicitado y lo entregado
    df_param["dif_cust_request_tn"]=df_param.cust_request_tn-df_param.tn
    df_param["dif_cust_request_tn_porc"]=np.where(df_param.cust_request_tn==0,0,100*df_param.dif_cust_request_tn/df_param.cust_request_tn)
   
    return df_param

In [6]:
def crear_lags_prod_cust(df_param):
    # Lags para product_id-customer_id
    for i in range(1, num_lags + 1):
        df_param[f'tn_lag_{i}'] = df_param.groupby(['product_id','customer_id'])['tn'].shift(i)

    return df_param

In [7]:
def crear_variable_target(df_param):
    df_param["tn_mas_2"] = df_param.groupby(['product_id','customer_id'])['tn'].shift(-2)

    return df_param

In [8]:
def crear_delta_lags_prod_cust(df_param):
    for i in range(1, num_lags+1):
        df_param[f'tn_delta_{i}'] = df_param.groupby(['product_id','customer_id'])['tn'].diff(i)

    return df_param

In [9]:
for cluster_iter in range(0,cant_clusters+1):
    df = pd.read_csv(arch_cluster_prefijo + str(cluster_iter) + ".csv")

    #Antes que nada, ordeno por prod-cust
    
    #Nuevos features
    df = crear_nuevos_features(df)

    # Lags
    df = crear_lags_prod_cust(df)

    # Variable Target
    df = crear_variable_target(df)

    df = crear_delta_lags_prod_cust(df)

    print(len(df))
    
    df.to_csv(arch_salida_prefijo + str(cluster_iter) + ".csv", index=False)

4020
133430

## Verificaciones

In [10]:
# Nuevos features
df[["product_id","customer_id","periodo","tn","cust_request_tn","dif_cust_request_tn","dif_cust_request_tn_porc"]].sample(10)

,product_id,customer_id,periodo,tn,cust_request_tn,dif_cust_request_tn,dif_cust_request_tn_porc
74527,20639,10610,201908,0.00000,0.00000,0.0,0.0
110628,21003,10129,201910,0.00328,0.00328,0.0,0.0
122848,21162,10247,201901,0.00000,0.00000,0.0,0.0
130032,21273,10058,201810,0.00000,0.00000,0.0,0.0
57544,20465,10267,201812,0.00000,0.00000,0.0,0.0
92476,20816,10050,201808,0.00000,0.00000,0.0,0.0
14202,20105,10031,201702,0.77226,0.77226,0.0,0.0
122542,21160,10305,201812,0.00000,0.00000,0.0,0.0
125839,21203,10427,201804,0.00000,0.00000,0.0,0.0
131428,21284,10091,201912,0.00000,0.00000,0.0,0.0

In [11]:
# Lags prod-cust
df[["product_id","customer_id","periodo","tn","tn_lag_1","tn_lag_2","tn_lag_3"]].head(50)

    product_id  customer_id  periodo       tn  tn_lag_1  tn_lag_2  tn_lag_3
0        20001        10283   201909  0.00000       NaN       NaN       NaN
1        20001        10283   201910  0.00000   0.00000       NaN       NaN
2        20001        10283   201911  0.11202   0.00000   0.00000       NaN
3        20001        10283   201912  0.00000   0.11202   0.00000   0.00000
4        20001        10339   201701  0.00000       NaN       NaN       NaN
5        20001        10339   201702  0.00000   0.00000       NaN       NaN
6        20001        10339   201703  0.00000   0.00000   0.00000       NaN
7        20001        10339   201704  0.00000   0.00000   0.00000   0.00000
8        20001        10339   201705  0.00000   0.00000   0.00000   0.00000
9        20001        10339   201706  0.00000   0.00000   0.00000   0.00000
10       20001        10339   201707  0.00000   0.00000   0.00000   0.00000
11       20001        10339   201708  0.00000   0.00000   0.00000   0.00000
12       20001        10339   201709  0.00000   0.00000   0.00000   0.00000
13       20001        10339   201710  0.00000   0.00000   0.00000   0.00000
14       20001        10339   201711  0.00000   0.00000   0.00000   0.00000
15       20001        10339   201712  0.00000   0.00000   0.00000   0.00000
16       20001        10339   201801  0.00000   0.00000   0.00000   0.00000
17       20001        10339   201802  0.00000   0.00000   0.00000   0.00000
18       20001        10339   201803  0.00000   0.00000   0.00000   0.00000
19       20001        10339   201804  0.00000   0.00000   0.00000   0.00000
20       20001        10339   201805  0.00000   0.00000   0.00000   0.00000
21       20001        10339   201806  0.00000   0.00000   0.00000   0.00000
22       20001        10339   201807  0.00000   0.00000   0.00000   0.00000
23       20001        10339   201808  0.00000   0.00000   0.00000   0.00000
24       20001        10339   201809  0.00000   0.00000   0.00000   0.00000
25       20001        10339   201810  0.00000   0.00000   0.00000   0.00000
26       20001        10339   201811  0.00000   0.00000   0.00000   0.00000
27       20001        10339   201812  0.00000   0.00000   0.00000   0.00000
28       20001        10339   201901  0.00000   0.00000   0.00000   0.00000
29       20001        10339   201902  0.00000   0.00000   0.00000   0.00000
30       20001        10339   201903  0.00000   0.00000   0.00000   0.00000
31       20001        10339   201904  0.00000   0.00000   0.00000   0.00000
32       20001        10339   201905  0.00000   0.00000   0.00000   0.00000
33       20001        10339   201906  0.00000   0.00000   0.00000   0.00000
34       20001        10339   201907  0.00000   0.00000   0.00000   0.00000
35       20001        10339   201908  0.00000   0.00000   0.00000   0.00000
36       20001        10339   201909  0.00000   0.00000   0.00000   0.00000
37       20001        10339   201910  0.00000   0.00000   0.00000   0.00000
38       20001        10339   201911  0.00000   0.00000   0.00000   0.00000
39       20001        10339   201912  0.00000   0.00000   0.00000   0.00000
40       20001        10356   201701  0.27982       NaN       NaN       NaN
41       20001        10356   201702  0.00000   0.27982       NaN       NaN
42       20001        10356   201703  0.11193   0.00000   0.27982       NaN
43       20001        10356   201704  0.00000   0.11193   0.00000   0.27982
44       20001        10356   201705  0.11193   0.00000   0.11193   0.00000
45       20001        10356   201706  0.16790   0.11193   0.00000   0.11193
46       20001        10356   201707  0.16790   0.16790   0.11193   0.00000
47       20001        10356   201708  0.16790   0.16790   0.16790   0.11193
48       20001        10356   201709  0.00000   0.16790   0.16790   0.16790
49       20001        10356   201710  0.16790   0.00000   0.16790   0.16790

In [12]:
# Variable Target
df[["product_id","customer_id","periodo","tn","tn_mas_2"]].head(50)

    product_id  customer_id  periodo       tn  tn_mas_2
0        20001        10283   201909  0.00000   0.11202
1        20001        10283   201910  0.00000   0.00000
2        20001        10283   201911  0.11202       NaN
3        20001        10283   201912  0.00000       NaN
4        20001        10339   201701  0.00000   0.00000
5        20001        10339   201702  0.00000   0.00000
6        20001        10339   201703  0.00000   0.00000
7        20001        10339   201704  0.00000   0.00000
8        20001        10339   201705  0.00000   0.00000
9        20001        10339   201706  0.00000   0.00000
10       20001        10339   201707  0.00000   0.00000
11       20001        10339   201708  0.00000   0.00000
12       20001        10339   201709  0.00000   0.00000
13       20001        10339   201710  0.00000   0.00000
14       20001        10339   201711  0.00000   0.00000
15       20001        10339   201712  0.00000   0.00000
16       20001        10339   201801  0.00000   0.00000
17       20001        10339   201802  0.00000   0.00000
18       20001        10339   201803  0.00000   0.00000
19       20001        10339   201804  0.00000   0.00000
20       20001        10339   201805  0.00000   0.00000
21       20001        10339   201806  0.00000   0.00000
22       20001        10339   201807  0.00000   0.00000
23       20001        10339   201808  0.00000   0.00000
24       20001        10339   201809  0.00000   0.00000
25       20001        10339   201810  0.00000   0.00000
26       20001        10339   201811  0.00000   0.00000
27       20001        10339   201812  0.00000   0.00000
28       20001        10339   201901  0.00000   0.00000
29       20001        10339   201902  0.00000   0.00000
30       20001        10339   201903  0.00000   0.00000
31       20001        10339   201904  0.00000   0.00000
32       20001        10339   201905  0.00000   0.00000
33       20001        10339   201906  0.00000   0.00000
34       20001        10339   201907  0.00000   0.00000
35       20001        10339   201908  0.00000   0.00000
36       20001        10339   201909  0.00000   0.00000
37       20001        10339   201910  0.00000   0.00000
38       20001        10339   201911  0.00000       NaN
39       20001        10339   201912  0.00000       NaN
40       20001        10356   201701  0.27982   0.11193
41       20001        10356   201702  0.00000   0.00000
42       20001        10356   201703  0.11193   0.11193
43       20001        10356   201704  0.00000   0.16790
44       20001        10356   201705  0.11193   0.16790
45       20001        10356   201706  0.16790   0.16790
46       20001        10356   201707  0.16790   0.00000
47       20001        10356   201708  0.16790   0.16790
48       20001        10356   201709  0.00000   0.41414
49       20001        10356   201710  0.16790   0.00000

In [13]:
# Delta Lags prod-cust
df[["product_id","customer_id","periodo","tn","tn_lag_1","tn_delta_1","tn_lag_2","tn_delta_2","tn_lag_3","tn_delta_3"]].head(50)

,product_id,customer_id,periodo,tn,tn_lag_1,tn_delta_1,tn_lag_2,tn_delta_2,tn_lag_3,tn_delta_3
0,20001,10283,201909,0.00000,NaN,NaN,NaN,NaN,NaN,NaN
1,20001,10283,201910,0.00000,0.00000,0.00000,NaN,NaN,NaN,NaN
2,20001,10283,201911,0.11202,0.00000,0.11202,0.00000,0.11202,NaN,NaN
3,20001,10283,201912,0.00000,0.11202,-0.11202,0.00000,0.00000,0.00000,0.00000
4,20001,10339,201701,0.00000,NaN,NaN,NaN,NaN,NaN,NaN
5,20001,10339,201702,0.00000,0.00000,0.00000,NaN,NaN,NaN,NaN
6,20001,10339,201703,0.00000,0.00000,0.00000,0.00000,0.00000,NaN,NaN
7,20001,10339,201704,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
8,20001,10339,201705,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
9,20001,10339,201706,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
10,20001,10339,201707,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
11,20001,10339,201708,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
12,20001,10339,201709,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
13,20001,10339,201710,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
14,20001,10339,201711,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
15,20001,10339,201712,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
16,20001,10339,201801,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
17,20001,10339,201802,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
18,20001,10339,201803,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
19,20001,10339,201804,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
20,20001,10339,201805,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
21,20001,10339,201806,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
22,20001,10339,201807,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
23,20001,10339,201808,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
24,20001,10339,201809,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
25,20001,10339,201810,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
26,20001,10339,201811,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
27,20001,10339,201812,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
28,20001,10339,201901,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
29,20001,10339,201902,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
30,20001,10339,201903,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
31,20001,10339,201904,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
32,20001,10339,201905,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
33,20001,10339,201906,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
34,20001,10339,201907,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
35,20001,10339,201908,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
36,20001,10339,201909,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
37,20001,10339,201910,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
38,20001,10339,201911,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
39,20001,10339,201912,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
40,20001,10356,201701,0.27982,NaN,NaN,NaN,NaN,NaN,NaN
41,20001,10356,201702,0.00000,0.27982,-0.27982,NaN,NaN,NaN,NaN
42,20001,10356,201703,0.11193,0.00000,0.11193,0.27982,-0.16789,NaN,NaN
43,20001,10356,201704,0.00000,0.11193,-0.11193,0.00000,0.00000,0.27982,-0.27982
44,20001,10356,201705,0.11193,0.00000,0.11193,0.11193,0.00000,0.00000,0.11193
45,20001,10356,201706,0.16790,0.11193,0.05597,0.00000,0.16790,0.11193,0.05597
46,20001,10356,201707,0.16790,0.16790,0.00000,0.11193,0.05597,0.00000,0.16790
47,20001,10356,201708,0.16790,0.16790,0.00000,0.16790,0.00000,0.11193,0.05597
48,20001,10356,201709,0.00000,0.16790,-0.16790,0.16790,-0.16790,0.16790,-0.16790
49,20001,10356,201710,0.16790,0.00000,0.16790,0.16790,0.00000,0.16790,0.00000

######### Agregar cuando se pongan lags de prod, cust y cats

for i in range(1, num_lags + 1):
    df_cat1[f'cat1_tn_lag_{i}'] = df_cat1.groupby('cat1')['cat1_tn'].shift(i)
    df_cat1[f'cat1_tn_delta_{i}'] = df_cat1.groupby('cat1')['cat1_tn'].diff(i)

df_cat1.head()

df = df.merge(df_cat1,how="inner",on=["cat1","periodo"])
df.head()

df[["product_id","cat1","periodo","cat1_tn","cat1_tn_lag_1","cat1_tn_delta_1","cat1_tn_lag_2","cat1_tn_delta_2","cat1_tn_lag_3","cat1_tn_delta_3"]].sort_values(by=["product_id","periodo"],ascending=True).head(10)

df_cat1_hc = df_cat1[df_cat1.cat1=="HC"]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133430 entries, 0 to 133429
Data columns (total 35 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   product_id                 133430 non-null  int64
 1   periodo                    133430 non-null  int64
 2   customer_id                133430 non-null  int64
 3   cero_ventas                133430 non-null  int64
 4   plan_precios_cuidados      133430 non-null  float64
 5   cust_request_qty           133430 non-null  float64
 6   cust_request_tn            133430 non-null  float64
 7   tn                         133430 non-null  float64
 8   periodo_fecha              133430 non-null  object
 9   mes                        133430 non-null  int64
 10  meses_historia_prod        133430 non-null  int64
 11  meses_historia_cliente     133430 non-null  int64
 12  cliente_estrella           133430 non-null  int64
 13  prod_cust                  133430 non-null  object
 14  cat1                       133430 non-null  object
 15  cat2                       133430 non-null  object
 16  cat3                       133430 non-null  object
 17  brand                      133430 non-null  object
 18  sku_size                   133430 non-null  float64
 19  producto_estrella          133430 non-null  float64
 20  temp_media                 133430 non-null  float64
 21  temp_max_media             133430 non-null  float64
 22  temp_min_media             133430 non-null  float64
 23  IPC                        133430 non-null  float64
 24  promedio_mens_dolar_venta  133430 non-null  float64
 25  catastrofe                 133430 non-null  bool
 26  dif_cust_request_tn        133430 non-null  float64
 27  dif_cust_request_tn_porc   133430 non-null  float64
 28  tn_lag_1                   128430 non-null  float64
 29  tn_lag_2                   123453 non-null  float64
 30  tn_lag_3                   118521 non-null  float64
 31  tn_mas_2                   123453 non-null  float64
 32  tn_delta_1                 128430 non-null  float64
 33  tn_delta_2                 123453 non-null  float64
 34  tn_delta_3                 118521 non-null  float64
dtypes: bool(1), float64(20), int64(8), object(6)
memory usage: 34.7+ MB

In [15]:
df.isna().sum()

product_id                       0
periodo                          0
customer_id                      0
cero_ventas                      0
plan_precios_cuidados            0
cust_request_qty                 0
cust_request_tn                  0
tn                               0
periodo_fecha                    0
mes                              0
meses_historia_prod              0
meses_historia_cliente           0
cliente_estrella                 0
prod_cust                        0
cat1                             0
cat2                             0
cat3                             0
brand                            0
sku_size                         0
producto_estrella                0
temp_media                       0
temp_max_media                   0
temp_min_media                   0
IPC                              0
promedio_mens_dolar_venta        0
catastrofe                       0
dif_cust_request_tn              0
dif_cust_request_tn_porc         0
tn_lag_1                      5000
tn_lag_2                      9977
tn_lag_3                     14909
tn_mas_2                      9977
tn_delta_1                    5000
tn_delta_2                    9977
tn_delta_3                   14909
dtype: int64

In [16]:
len(df.columns)

35