In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

from warnings import simplefilter 
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
simplefilter(action="ignore", category=pd.errors.SettingWithCopyWarning)

In [2]:
####################################################
############# Setear segun cada maquina ############
#os.chdir("C:/Users/herna/labo3_empresa3_repo/datasets")
#os.chdir("C:/diego_tools/labo3/dataset")
os.chdir("/home/dcastro_contacto/buckets/b1/datasets/")

####################################################

In [3]:
#################################
###### Variables Generales ######
num_lags = 3

In [4]:
arch_sellout_base = "emp3_sellout_base.csv"

In [5]:
df = pd.read_csv(arch_sellout_base)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19639107 entries, 0 to 19639106
Data columns (total 25 columns):
 #   Column                     Dtype
---  ------                     -----
 0   product_id                 int64
 1   periodo                    int64
 2   customer_id                int64
 3   cero_ventas                int64
 4   plan_precios_cuidados      float64
 5   cust_request_qty           float64
 6   cust_request_tn            float64
 7   tn                         float64
 8   primer_periodo_prod        int64
 9   primer_periodo_cliente     int64
 10  periodo_fecha              object
 11  mes                        int64
 12  primer_periodo_fecha_prod  object
 13  cat1                       object
 14  cat2                       object
 15  cat3                       object
 16  brand                      object
 17  sku_size                   float64
 18  producto_estrella          float64
 19  temp_media                 float64
 20  temp_max_media             float64
 21  temp_min_media             float64
 22  IPC                        float64
 23  promedio_mens_dolar_venta  float64
 24  catastrofe                 bool
dtypes: bool(1), float64(11), int64(7), object(6)
memory usage: 3.5+ GB

In [7]:
len(df.product_id.unique())

1233

## Nuevos features

In [8]:
# Diferencia entre lo solicitado y lo entregado
df["dif_cust_request_tn"]=df.cust_request_tn-df.tn
df["dif_cust_request_tn_porc"]=np.where(df.cust_request_tn==0,0,100*df.dif_cust_request_tn/df.cust_request_tn)

In [9]:
df[["product_id","customer_id","periodo","tn","cust_request_tn","dif_cust_request_tn","dif_cust_request_tn_porc"]].head(5)

,product_id,customer_id,periodo,tn,cust_request_tn,dif_cust_request_tn,dif_cust_request_tn_porc
0,20001,10001,201701,99.43861,99.43861,0.00000,0.000000
1,20001,10001,201702,198.84365,198.84365,0.00000,0.000000
2,20001,10001,201703,92.46537,92.46537,0.00000,0.000000
3,20001,10001,201704,13.29728,13.29728,0.00000,0.000000
4,20001,10001,201705,101.00563,101.20711,0.20148,0.199077

## Lags (BÃ¡sicos)

In [10]:
# Lags para product_id-customer_id
for i in range(1, num_lags + 1):
    df[f'tn_lag_{i}'] = df.groupby(['product_id','customer_id'])['tn'].shift(i)

In [11]:
df[["product_id","customer_id","periodo","tn","tn_lag_1","tn_lag_2","tn_lag_3"]].head(50)

,product_id,customer_id,periodo,tn,tn_lag_1,tn_lag_2,tn_lag_3
0,20001,10001,201701,99.43861,NaN,NaN,NaN
1,20001,10001,201702,198.84365,99.43861,NaN,NaN
2,20001,10001,201703,92.46537,198.84365,99.43861,NaN
3,20001,10001,201704,13.29728,92.46537,198.84365,99.43861
4,20001,10001,201705,101.00563,13.29728,92.46537,198.84365
5,20001,10001,201706,128.04792,101.00563,13.29728,92.46537
6,20001,10001,201707,101.20711,128.04792,101.00563,13.29728
7,20001,10001,201708,43.33930,101.20711,128.04792,101.00563
8,20001,10001,201709,289.35024,43.33930,101.20711,128.04792
9,20001,10001,201710,222.11389,289.35024,43.33930,101.20711
10,20001,10001,201711,111.54944,222.11389,289.35024,43.33930
11,20001,10001,201712,131.27150,111.54944,222.11389,289.35024
12,20001,10001,201801,49.61857,131.27150,111.54944,222.11389
13,20001,10001,201802,88.44065,49.61857,131.27150,111.54944
14,20001,10001,201803,214.72336,88.44065,49.61857,131.27150
15,20001,10001,201804,132.83419,214.72336,88.44065,49.61857
16,20001,10001,201805,165.73507,132.83419,214.72336,88.44065
17,20001,10001,201806,92.29410,165.73507,132.83419,214.72336
18,20001,10001,201807,256.05760,92.29410,165.73507,132.83419
19,20001,10001,201808,139.24210,256.05760,92.29410,165.73507
20,20001,10001,201809,358.57922,139.24210,256.05760,92.29410
21,20001,10001,201810,245.21397,358.57922,139.24210,256.05760
22,20001,10001,201811,241.02438,245.21397,358.57922,139.24210
23,20001,10001,201812,254.62373,241.02438,245.21397,358.57922
24,20001,10001,201901,386.60688,254.62373,241.02438,245.21397
25,20001,10001,201902,309.90610,386.60688,254.62373,241.02438
26,20001,10001,201903,130.54927,309.90610,386.60688,254.62373
27,20001,10001,201904,364.37071,130.54927,309.90610,386.60688
28,20001,10001,201905,439.90647,364.37071,130.54927,309.90610
29,20001,10001,201906,65.92436,439.90647,364.37071,130.54927
30,20001,10001,201907,144.78714,65.92436,439.90647,364.37071
31,20001,10001,201908,33.63991,144.78714,65.92436,439.90647
32,20001,10001,201909,109.05244,33.63991,144.78714,65.92436
33,20001,10001,201910,176.02980,109.05244,33.63991,144.78714
34,20001,10001,201911,236.65556,176.02980,109.05244,33.63991
35,20001,10001,201912,180.21938,236.65556,176.02980,109.05244
36,20001,10002,201701,35.72806,NaN,NaN,NaN
37,20001,10002,201702,6.79415,35.72806,NaN,NaN
38,20001,10002,201703,29.94128,6.79415,35.72806,NaN
39,20001,10002,201704,22.81133,29.94128,6.79415,35.72806
40,20001,10002,201705,31.22847,22.81133,29.94128,6.79415
41,20001,10002,201706,47.57025,31.22847,22.81133,29.94128
42,20001,10002,201707,21.84874,47.57025,31.22847,22.81133
43,20001,10002,201708,17.08052,21.84874,47.57025,31.22847
44,20001,10002,201709,59.17739,17.08052,21.84874,47.57025
45,20001,10002,201710,3.31313,59.17739,17.08052,21.84874
46,20001,10002,201711,48.81267,3.31313,59.17739,17.08052
47,20001,10002,201712,41.53722,48.81267,3.31313,59.17739
48,20001,10002,201801,44.70484,41.53722,48.81267,3.31313
49,20001,10002,201802,8.53600,44.70484,41.53722,48.81267

## Variable Target

In [12]:
# Variable target
df["tn_mas_2"] = df.groupby(['product_id','customer_id'])['tn'].shift(-2)

In [13]:
df[["product_id","customer_id","periodo","tn","tn_mas_2"]].head(50)

    product_id  customer_id  periodo         tn   tn_mas_2
0        20001        10001   201701   99.43861   92.46537
1        20001        10001   201702  198.84365   13.29728
2        20001        10001   201703   92.46537  101.00563
3        20001        10001   201704   13.29728  128.04792
4        20001        10001   201705  101.00563  101.20711
5        20001        10001   201706  128.04792   43.33930
6        20001        10001   201707  101.20711  289.35024
7        20001        10001   201708   43.33930  222.11389
8        20001        10001   201709  289.35024  111.54944
9        20001        10001   201710  222.11389  131.27150
10       20001        10001   201711  111.54944   49.61857
11       20001        10001   201712  131.27150   88.44065
12       20001        10001   201801   49.61857  214.72336
13       20001        10001   201802   88.44065  132.83419
14       20001        10001   201803  214.72336  165.73507
15       20001        10001   201804  132.83419   92.29410
16       20001        10001   201805  165.73507  256.05760
17       20001        10001   201806   92.29410  139.24210
18       20001        10001   201807  256.05760  358.57922
19       20001        10001   201808  139.24210  245.21397
20       20001        10001   201809  358.57922  241.02438
21       20001        10001   201810  245.21397  254.62373
22       20001        10001   201811  241.02438  386.60688
23       20001        10001   201812  254.62373  309.90610
24       20001        10001   201901  386.60688  130.54927
25       20001        10001   201902  309.90610  364.37071
26       20001        10001   201903  130.54927  439.90647
27       20001        10001   201904  364.37071   65.92436
28       20001        10001   201905  439.90647  144.78714
29       20001        10001   201906   65.92436   33.63991
30       20001        10001   201907  144.78714  109.05244
31       20001        10001   201908   33.63991  176.02980
32       20001        10001   201909  109.05244  236.65556
33       20001        10001   201910  176.02980  180.21938
34       20001        10001   201911  236.65556        NaN
35       20001        10001   201912  180.21938        NaN
36       20001        10002   201701   35.72806   29.94128
37       20001        10002   201702    6.79415   22.81133
38       20001        10002   201703   29.94128   31.22847
39       20001        10002   201704   22.81133   47.57025
40       20001        10002   201705   31.22847   21.84874
41       20001        10002   201706   47.57025   17.08052
42       20001        10002   201707   21.84874   59.17739
43       20001        10002   201708   17.08052    3.31313
44       20001        10002   201709   59.17739   48.81267
45       20001        10002   201710    3.31313   41.53722
46       20001        10002   201711   48.81267   44.70484
47       20001        10002   201712   41.53722    8.53600
48       20001        10002   201801   44.70484   40.38357
49       20001        10002   201802    8.53600   47.63133

## Delta Lags (BÃ¡sicos)

In [14]:
# Delta lags para product_id-customer_id
for i in range(1, num_lags+1):
    df[f'tn_delta_{i}'] = df.groupby(['product_id','customer_id'])['tn'].diff(i)

In [15]:
df[["product_id","customer_id","periodo","tn","tn_lag_1","tn_delta_1","tn_lag_2","tn_delta_2","tn_lag_3","tn_delta_3"]].head(50)

,product_id,customer_id,periodo,tn,tn_lag_1,tn_delta_1,tn_lag_2,tn_delta_2,tn_lag_3,tn_delta_3
0,20001,10001,201701,99.43861,NaN,NaN,NaN,NaN,NaN,NaN
1,20001,10001,201702,198.84365,99.43861,99.40504,NaN,NaN,NaN,NaN
2,20001,10001,201703,92.46537,198.84365,-106.37828,99.43861,-6.97324,NaN,NaN
3,20001,10001,201704,13.29728,92.46537,-79.16809,198.84365,-185.54637,99.43861,-86.14133
4,20001,10001,201705,101.00563,13.29728,87.70835,92.46537,8.54026,198.84365,-97.83802
5,20001,10001,201706,128.04792,101.00563,27.04229,13.29728,114.75064,92.46537,35.58255
6,20001,10001,201707,101.20711,128.04792,-26.84081,101.00563,0.20148,13.29728,87.90983
7,20001,10001,201708,43.33930,101.20711,-57.86781,128.04792,-84.70862,101.00563,-57.66633
8,20001,10001,201709,289.35024,43.33930,246.01094,101.20711,188.14313,128.04792,161.30232
9,20001,10001,201710,222.11389,289.35024,-67.23635,43.33930,178.77459,101.20711,120.90678
10,20001,10001,201711,111.54944,222.11389,-110.56445,289.35024,-177.80080,43.33930,68.21014
11,20001,10001,201712,131.27150,111.54944,19.72206,222.11389,-90.84239,289.35024,-158.07874
12,20001,10001,201801,49.61857,131.27150,-81.65293,111.54944,-61.93087,222.11389,-172.49532
13,20001,10001,201802,88.44065,49.61857,38.82208,131.27150,-42.83085,111.54944,-23.10879
14,20001,10001,201803,214.72336,88.44065,126.28271,49.61857,165.10479,131.27150,83.45186
15,20001,10001,201804,132.83419,214.72336,-81.88917,88.44065,44.39354,49.61857,83.21562
16,20001,10001,201805,165.73507,132.83419,32.90088,214.72336,-48.98829,88.44065,77.29442
17,20001,10001,201806,92.29410,165.73507,-73.44097,132.83419,-40.54009,214.72336,-122.42926
18,20001,10001,201807,256.05760,92.29410,163.76350,165.73507,90.32253,132.83419,123.22341
19,20001,10001,201808,139.24210,256.05760,-116.81550,92.29410,46.94800,165.73507,-26.49297
20,20001,10001,201809,358.57922,139.24210,219.33712,256.05760,102.52162,92.29410,266.28512
21,20001,10001,201810,245.21397,358.57922,-113.36525,139.24210,105.97187,256.05760,-10.84363
22,20001,10001,201811,241.02438,245.21397,-4.18959,358.57922,-117.55484,139.24210,101.78228
23,20001,10001,201812,254.62373,241.02438,13.59935,245.21397,9.40976,358.57922,-103.95549
24,20001,10001,201901,386.60688,254.62373,131.98315,241.02438,145.58250,245.21397,141.39291
25,20001,10001,201902,309.90610,386.60688,-76.70078,254.62373,55.28237,241.02438,68.88172
26,20001,10001,201903,130.54927,309.90610,-179.35683,386.60688,-256.05761,254.62373,-124.07446
27,20001,10001,201904,364.37071,130.54927,233.82144,309.90610,54.46461,386.60688,-22.23617
28,20001,10001,201905,439.90647,364.37071,75.53576,130.54927,309.35720,309.90610,130.00037
29,20001,10001,201906,65.92436,439.90647,-373.98211,364.37071,-298.44635,130.54927,-64.62491
30,20001,10001,201907,144.78714,65.92436,78.86278,439.90647,-295.11933,364.37071,-219.58357
31,20001,10001,201908,33.63991,144.78714,-111.14723,65.92436,-32.28445,439.90647,-406.26656
32,20001,10001,201909,109.05244,33.63991,75.41253,144.78714,-35.73470,65.92436,43.12808
33,20001,10001,201910,176.02980,109.05244,66.97736,33.63991,142.38989,144.78714,31.24266
34,20001,10001,201911,236.65556,176.02980,60.62576,109.05244,127.60312,33.63991,203.01565
35,20001,10001,201912,180.21938,236.65556,-56.43618,176.02980,4.18958,109.05244,71.16694
36,20001,10002,201701,35.72806,NaN,NaN,NaN,NaN,NaN,NaN
37,20001,10002,201702,6.79415,35.72806,-28.93391,NaN,NaN,NaN,NaN
38,20001,10002,201703,29.94128,6.79415,23.14713,35.72806,-5.78678,NaN,NaN
39,20001,10002,201704,22.81133,29.94128,-7.12995,6.79415,16.01718,35.72806,-12.91673
40,20001,10002,201705,31.22847,22.81133,8.41714,29.94128,1.28719,6.79415,24.43432
41,20001,10002,201706,47.57025,31.22847,16.34178,22.81133,24.75892,29.94128,17.62897
42,20001,10002,201707,21.84874,47.57025,-25.72151,31.22847,-9.37973,22.81133,-0.96259
43,20001,10002,201708,17.08052,21.84874,-4.76822,47.57025,-30.48973,31.22847,-14.14795
44,20001,10002,201709,59.17739,17.08052,42.09687,21.84874,37.32865,47.57025,11.60714
45,20001,10002,201710,3.31313,59.17739,-55.86426,17.08052,-13.76739,21.84874,-18.53561
46,20001,10002,201711,48.81267,3.31313,45.49954,59.17739,-10.36472,17.08052,31.73215
47,20001,10002,201712,41.53722,48.81267,-7.27545,3.31313,38.22409,59.17739,-17.64017
48,20001,10002,201801,44.70484,41.53722,3.16762,48.81267,-4.10783,3.31313,41.39171
49,20001,10002,201802,8.53600,44.70484,-36.16884,41.53722,-33.00122,48.81267,-40.27667

## Lags (cat1)

In [16]:
df_cat1 = df.groupby(['cat1','periodo']).agg({'tn':'sum'}).reset_index().sort_values(by=['cat1','periodo'],ascending=True)
df_cat1 = df_cat1.rename(columns={"tn":"cat1_tn"})
df_cat1.head()

    cat1  periodo     cat1_tn
0  FOODS   201701  6499.75930
1  FOODS   201702  7098.70342
2  FOODS   201703  7617.35140
3  FOODS   201704  7285.05226
4  FOODS   201705  7707.92393

In [17]:
# Lags y deltas para cat1
for i in range(1, num_lags + 1):
    df_cat1[f'cat1_tn_lag_{i}'] = df_cat1.groupby('cat1')['cat1_tn'].shift(i)
    df_cat1[f'cat1_tn_delta_{i}'] = df_cat1.groupby('cat1')['cat1_tn'].diff(i)

In [18]:
df_cat1.head()

,cat1,periodo,cat1_tn,cat1_tn_lag_1,cat1_tn_delta_1,cat1_tn_lag_2,cat1_tn_delta_2,cat1_tn_lag_3,cat1_tn_delta_3
0,FOODS,201701,6499.75930,NaN,NaN,NaN,NaN,NaN,NaN
1,FOODS,201702,7098.70342,6499.75930,598.94412,NaN,NaN,NaN,NaN
2,FOODS,201703,7617.35140,7098.70342,518.64798,6499.75930,1117.59210,NaN,NaN
3,FOODS,201704,7285.05226,7617.35140,-332.29914,7098.70342,186.34884,6499.75930,785.29296
4,FOODS,201705,7707.92393,7285.05226,422.87167,7617.35140,90.57253,7098.70342,609.22051

In [19]:
df = df.merge(df_cat1,how="inner",on=["cat1","periodo"])
df.head()

,product_id,periodo,customer_id,cero_ventas,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,primer_periodo_prod,primer_periodo_cliente,...,tn_delta_1,tn_delta_2,tn_delta_3,cat1_tn,cat1_tn_lag_1,cat1_tn_delta_1,cat1_tn_lag_2,cat1_tn_delta_2,cat1_tn_lag_3,cat1_tn_delta_3
0,20001,201701,10001,0,0.0,11.0,99.43861,99.43861,201701,201701,...,NaN,NaN,NaN,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
1,20001,201701,10002,0,0.0,17.0,38.68301,35.72806,201701,201701,...,NaN,NaN,NaN,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
2,20001,201701,10003,0,0.0,17.0,143.49426,143.49426,201701,201701,...,NaN,NaN,NaN,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
3,20001,201701,10004,0,0.0,9.0,184.72927,184.72927,201701,201701,...,NaN,NaN,NaN,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
4,20001,201701,10005,0,0.0,23.0,19.08407,19.08407,201701,201701,...,NaN,NaN,NaN,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df[["product_id","cat1","periodo","cat1_tn","cat1_tn_lag_1","cat1_tn_delta_1","cat1_tn_lag_2","cat1_tn_delta_2","cat1_tn_lag_3","cat1_tn_delta_3"]].sort_values(by=["product_id","periodo"],ascending=True).head(10)

,product_id,cat1,periodo,cat1_tn,cat1_tn_lag_1,cat1_tn_delta_1,cat1_tn_lag_2,cat1_tn_delta_2,cat1_tn_lag_3,cat1_tn_delta_3
0,20001,HC,201701,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
1,20001,HC,201701,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
2,20001,HC,201701,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
3,20001,HC,201701,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
4,20001,HC,201701,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
5,20001,HC,201701,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
6,20001,HC,201701,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
7,20001,HC,201701,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
8,20001,HC,201701,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
9,20001,HC,201701,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_cat1_hc = df_cat1[df_cat1.cat1=="HC"]
df_cat1_hc.head()

,cat1,periodo,cat1_tn,cat1_tn_lag_1,cat1_tn_delta_1,cat1_tn_lag_2,cat1_tn_delta_2,cat1_tn_lag_3,cat1_tn_delta_3
36,HC,201701,20304.28696,NaN,NaN,NaN,NaN,NaN,NaN
37,HC,201702,20183.30152,20304.28696,-120.98544,NaN,NaN,NaN,NaN
38,HC,201703,28883.25590,20183.30152,8699.95438,20304.28696,8578.96894,NaN,NaN
39,HC,201704,24453.26459,28883.25590,-4429.99131,20183.30152,4269.96307,20304.28696,4148.97763
40,HC,201705,29339.17333,24453.26459,4885.90874,28883.25590,455.91743,20183.30152,9155.87181

## Lags (cat2)

In [22]:
df_cat2 = df.groupby(['cat2','periodo']).agg({'tn':'sum'}).reset_index().sort_values(by=['cat2','periodo'],ascending=True)
df_cat2 = df_cat2.rename(columns={"tn":"cat2_tn"})
df_cat2.head()

       cat2  periodo     cat2_tn
0  ADEREZOS   201701  4844.34830
1  ADEREZOS   201702  4248.85948
2  ADEREZOS   201703  4543.05532
3  ADEREZOS   201704  4188.45038
4  ADEREZOS   201705  4353.83462

In [23]:
# Lags y deltas para cat2
for i in range(1, num_lags + 1):
    df_cat2[f'cat2_tn_lag_{i}'] = df_cat2.groupby('cat2')['cat2_tn'].shift(i)
    df_cat2[f'cat2_tn_delta_{i}'] = df_cat2.groupby('cat2')['cat2_tn'].diff(i)

In [24]:
df_cat2.head()

,cat2,periodo,cat2_tn,cat2_tn_lag_1,cat2_tn_delta_1,cat2_tn_lag_2,cat2_tn_delta_2,cat2_tn_lag_3,cat2_tn_delta_3
0,ADEREZOS,201701,4844.34830,NaN,NaN,NaN,NaN,NaN,NaN
1,ADEREZOS,201702,4248.85948,4844.34830,-595.48882,NaN,NaN,NaN,NaN
2,ADEREZOS,201703,4543.05532,4248.85948,294.19584,4844.34830,-301.29298,NaN,NaN
3,ADEREZOS,201704,4188.45038,4543.05532,-354.60494,4248.85948,-60.40910,4844.34830,-655.89792
4,ADEREZOS,201705,4353.83462,4188.45038,165.38424,4543.05532,-189.22070,4248.85948,104.97514

In [25]:
df = df.merge(df_cat2,how="inner",on=["cat2","periodo"])
df.head()

,product_id,periodo,customer_id,cero_ventas,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,primer_periodo_prod,primer_periodo_cliente,...,cat1_tn_delta_2,cat1_tn_lag_3,cat1_tn_delta_3,cat2_tn,cat2_tn_lag_1,cat2_tn_delta_1,cat2_tn_lag_2,cat2_tn_delta_2,cat2_tn_lag_3,cat2_tn_delta_3
0,20001,201701,10001,0,0.0,11.0,99.43861,99.43861,201701,201701,...,NaN,NaN,NaN,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
1,20001,201701,10002,0,0.0,17.0,38.68301,35.72806,201701,201701,...,NaN,NaN,NaN,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
2,20001,201701,10003,0,0.0,17.0,143.49426,143.49426,201701,201701,...,NaN,NaN,NaN,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
3,20001,201701,10004,0,0.0,9.0,184.72927,184.72927,201701,201701,...,NaN,NaN,NaN,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
4,20001,201701,10005,0,0.0,23.0,19.08407,19.08407,201701,201701,...,NaN,NaN,NaN,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df[["product_id","cat2","periodo","cat2_tn","cat2_tn_lag_1","cat2_tn_delta_1","cat2_tn_lag_2","cat2_tn_delta_2","cat2_tn_lag_3","cat2_tn_delta_3"]].sort_values(by=["product_id","periodo"],ascending=True).head(10)

,product_id,cat2,periodo,cat2_tn,cat2_tn_lag_1,cat2_tn_delta_1,cat2_tn_lag_2,cat2_tn_delta_2,cat2_tn_lag_3,cat2_tn_delta_3
0,20001,ROPA LAVADO,201701,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
1,20001,ROPA LAVADO,201701,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
2,20001,ROPA LAVADO,201701,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
3,20001,ROPA LAVADO,201701,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
4,20001,ROPA LAVADO,201701,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
5,20001,ROPA LAVADO,201701,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
6,20001,ROPA LAVADO,201701,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
7,20001,ROPA LAVADO,201701,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
8,20001,ROPA LAVADO,201701,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
9,20001,ROPA LAVADO,201701,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_cat2_ropa = df_cat2[df_cat2.cat2=="ROPA LAVADO"]
df_cat2_ropa.head()

,cat2,periodo,cat2_tn,cat2_tn_lag_1,cat2_tn_delta_1,cat2_tn_lag_2,cat2_tn_delta_2,cat2_tn_lag_3,cat2_tn_delta_3
360,ROPA LAVADO,201701,11153.29607,NaN,NaN,NaN,NaN,NaN,NaN
361,ROPA LAVADO,201702,10799.07240,11153.29607,-354.22367,NaN,NaN,NaN,NaN
362,ROPA LAVADO,201703,15565.44487,10799.07240,4766.37247,11153.29607,4412.14880,NaN,NaN
363,ROPA LAVADO,201704,12470.81761,15565.44487,-3094.62726,10799.07240,1671.74521,11153.29607,1317.52154
364,ROPA LAVADO,201705,16396.10155,12470.81761,3925.28394,15565.44487,830.65668,10799.07240,5597.02915

## Lags (cat3)

In [28]:
df_cat3 = df.groupby(['cat3','periodo']).agg({'tn':'sum'}).reset_index().sort_values(by=['cat3','periodo'],ascending=True)
df_cat3 = df_cat3.rename(columns={"tn":"cat3_tn"})
df_cat3.head()

             cat3  periodo     cat3_tn
0  ACONDICIONADOR   201701  3550.88234
1  ACONDICIONADOR   201702  3626.58539
2  ACONDICIONADOR   201703  4917.40451
3  ACONDICIONADOR   201704  4793.84217
4  ACONDICIONADOR   201705  5072.35846

In [29]:
# Lags para cat3
for i in range(1, num_lags + 1):
    df_cat3[f'cat3_tn_lag_{i}'] = df_cat3.groupby('cat3')['cat3_tn'].shift(i)
    df_cat3[f'cat3_tn_delta_{i}'] = df_cat3.groupby('cat3')['cat3_tn'].diff(i)

In [30]:
df_cat3.head()

,cat3,periodo,cat3_tn,cat3_tn_lag_1,cat3_tn_delta_1,cat3_tn_lag_2,cat3_tn_delta_2,cat3_tn_lag_3,cat3_tn_delta_3
0,ACONDICIONADOR,201701,3550.88234,NaN,NaN,NaN,NaN,NaN,NaN
1,ACONDICIONADOR,201702,3626.58539,3550.88234,75.70305,NaN,NaN,NaN,NaN
2,ACONDICIONADOR,201703,4917.40451,3626.58539,1290.81912,3550.88234,1366.52217,NaN,NaN
3,ACONDICIONADOR,201704,4793.84217,4917.40451,-123.56234,3626.58539,1167.25678,3550.88234,1242.95983
4,ACONDICIONADOR,201705,5072.35846,4793.84217,278.51629,4917.40451,154.95395,3626.58539,1445.77307

In [31]:
df = df.merge(df_cat3,how="inner",on=["cat3","periodo"])
df.head()

,product_id,periodo,customer_id,cero_ventas,plan_precios_cuidados,cust_request_qty,cust_request_tn,tn,primer_periodo_prod,primer_periodo_cliente,...,cat2_tn_delta_2,cat2_tn_lag_3,cat2_tn_delta_3,cat3_tn,cat3_tn_lag_1,cat3_tn_delta_1,cat3_tn_lag_2,cat3_tn_delta_2,cat3_tn_lag_3,cat3_tn_delta_3
0,20001,201701,10001,0,0.0,11.0,99.43861,99.43861,201701,201701,...,NaN,NaN,NaN,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
1,20001,201701,10002,0,0.0,17.0,38.68301,35.72806,201701,201701,...,NaN,NaN,NaN,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
2,20001,201701,10003,0,0.0,17.0,143.49426,143.49426,201701,201701,...,NaN,NaN,NaN,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
3,20001,201701,10004,0,0.0,9.0,184.72927,184.72927,201701,201701,...,NaN,NaN,NaN,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
4,20001,201701,10005,0,0.0,23.0,19.08407,19.08407,201701,201701,...,NaN,NaN,NaN,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df[["product_id","cat3","periodo","cat3_tn","cat3_tn_lag_1","cat3_tn_delta_1","cat3_tn_lag_2","cat3_tn_delta_2","cat3_tn_lag_3","cat3_tn_delta_3"]].sort_values(by=["product_id","periodo"],ascending=True).head(10)

,product_id,cat3,periodo,cat3_tn,cat3_tn_lag_1,cat3_tn_delta_1,cat3_tn_lag_2,cat3_tn_delta_2,cat3_tn_lag_3,cat3_tn_delta_3
0,20001,Liquido,201701,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
1,20001,Liquido,201701,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
2,20001,Liquido,201701,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
3,20001,Liquido,201701,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
4,20001,Liquido,201701,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
5,20001,Liquido,201701,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
6,20001,Liquido,201701,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
7,20001,Liquido,201701,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
8,20001,Liquido,201701,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
9,20001,Liquido,201701,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df_cat3_liq = df_cat3[df_cat3.cat3=="Liquido"]
df_cat3_liq.head()

,cat3,periodo,cat3_tn,cat3_tn_lag_1,cat3_tn_delta_1,cat3_tn_lag_2,cat3_tn_delta_2,cat3_tn_lag_3,cat3_tn_delta_3
1571,Liquido,201701,3871.38669,NaN,NaN,NaN,NaN,NaN,NaN
1572,Liquido,201702,3908.83266,3871.38669,37.44597,NaN,NaN,NaN,NaN
1573,Liquido,201703,5403.56525,3908.83266,1494.73259,3871.38669,1532.17856,NaN,NaN
1574,Liquido,201704,4242.98976,5403.56525,-1160.57549,3908.83266,334.15710,3871.38669,371.60307
1575,Liquido,201705,5520.31852,4242.98976,1277.32876,5403.56525,116.75327,3908.83266,1611.48586

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19639107 entries, 0 to 19639106
Data columns (total 55 columns):
 #   Column                     Dtype
---  ------                     -----
 0   product_id                 int64
 1   periodo                    int64
 2   customer_id                int64
 3   cero_ventas                int64
 4   plan_precios_cuidados      float64
 5   cust_request_qty           float64
 6   cust_request_tn            float64
 7   tn                         float64
 8   primer_periodo_prod        int64
 9   primer_periodo_cliente     int64
 10  periodo_fecha              object
 11  mes                        int64
 12  primer_periodo_fecha_prod  object
 13  cat1                       object
 14  cat2                       object
 15  cat3                       object
 16  brand                      object
 17  sku_size                   float64
 18  producto_estrella          float64
 19  temp_media                 float64
 20  temp_max_media             float64
 21  temp_min_media             float64
 22  IPC                        float64
 23  promedio_mens_dolar_venta  float64
 24  catastrofe                 bool
 25  dif_cust_request_tn        float64
 26  dif_cust_request_tn_porc   float64
 27  tn_lag_1                   float64
 28  tn_lag_2                   float64
 29  tn_lag_3                   float64
 30  tn_mas_2                   float64
 31  tn_delta_1                 float64
 32  tn_delta_2                 float64
 33  tn_delta_3                 float64
 34  cat1_tn                    float64
 35  cat1_tn_lag_1              float64
 36  cat1_tn_delta_1            float64
 37  cat1_tn_lag_2              float64
 38  cat1_tn_delta_2            float64
 39  cat1_tn_lag_3              float64
 40  cat1_tn_delta_3            float64
 41  cat2_tn                    float64
 42  cat2_tn_lag_1              float64
 43  cat2_tn_delta_1            float64
 44  cat2_tn_lag_2              float64
 45  cat2_tn_delta_2            float64
 46  cat2_tn_lag_3              float64
 47  cat2_tn_delta_3            float64
 48  cat3_tn                    float64
 49  cat3_tn_lag_1              float64
 50  cat3_tn_delta_1            float64
 51  cat3_tn_lag_2              float64
 52  cat3_tn_delta_2            float64
 53  cat3_tn_lag_3              float64
 54  cat3_tn_delta_3            float64
dtypes: bool(1), float64(41), int64(7), object(6)
memory usage: 8.1+ GB

In [35]:
df.periodo.unique()

array([201701, 201702, 201703, 201704, 201705, 201706, 201707, 201708,
       201709, 201710, 201711, 201712, 201801, 201802, 201803, 201804,
       201805, 201806, 201807, 201808, 201809, 201810, 201811, 201812,
       201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908,
       201909, 201910, 201911, 201912])

In [36]:
df = df[df.periodo <= 201902]
df = df[df.periodo != 201901]

In [37]:
df.periodo.unique()

array([201701, 201702, 201703, 201704, 201705, 201706, 201707, 201708,
       201709, 201710, 201711, 201712, 201801, 201802, 201803, 201804,
       201805, 201806, 201807, 201808, 201809, 201810, 201811, 201812,
       201902])

In [38]:
df.isna().sum()

product_id                         0
periodo                            0
customer_id                        0
cero_ventas                        0
plan_precios_cuidados              0
cust_request_qty                   0
cust_request_tn                    0
tn                                 0
primer_periodo_prod                0
primer_periodo_cliente             0
periodo_fecha                      0
mes                                0
primer_periodo_fecha_prod          0
cat1                               0
cat2                               0
cat3                               0
brand                              0
sku_size                           0
producto_estrella                  0
temp_media                         0
temp_max_media                     0
temp_min_media                     0
IPC                                0
promedio_mens_dolar_venta          0
catastrofe                         0
dif_cust_request_tn                0
dif_cust_request_tn_porc           0
tn_lag_1                      590804
tn_lag_2                     1176211
tn_lag_3                     1753919
tn_mas_2                           0
tn_delta_1                    590804
tn_delta_2                   1176211
tn_delta_3                   1753919
cat1_tn                            0
cat1_tn_lag_1                 339905
cat1_tn_delta_1               339905
cat1_tn_lag_2                 724025
cat1_tn_delta_2               724025
cat1_tn_lag_3                1129837
cat1_tn_delta_3              1129837
cat2_tn                            0
cat2_tn_lag_1                 339905
cat2_tn_delta_1               339905
cat2_tn_lag_2                 724025
cat2_tn_delta_2               724025
cat2_tn_lag_3                1129837
cat2_tn_delta_3              1129837
cat3_tn                            0
cat3_tn_lag_1                 364255
cat3_tn_delta_1               364255
cat3_tn_lag_2                 771122
cat3_tn_delta_2               771122
cat3_tn_lag_3                1196937
cat3_tn_delta_3              1196937
dtype: int64

In [39]:
len(df.columns)

55

In [40]:
df.to_csv("emp3_sellout_train.csv", index=False)