In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

from warnings import simplefilter 
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
simplefilter(action="ignore", category=pd.errors.SettingWithCopyWarning)

In [2]:
####################################################
############# Setear segun cada maquina ############
#os.chdir("C:/Users/herna/labo3_empresa3_repo/")
#os.chdir("C:/diego_tools/labo3/")
os.chdir("/home/dcastro_contacto/buckets/b1/")
####################################################

In [3]:
#################################
###### Variables Generales ######
num_lags = 3
cant_clusters = 5

In [4]:
arch_cluster_prefijo = "datasets/emp3_sellout_base_cluster_"
arch_salida_prefijo = "datasets/emp3_sellout_train_cluster_"

In [5]:
def crear_nuevos_features(df_param):
    # Diferencia entre lo solicitado y lo entregado
    df_param["dif_cust_request_tn"]=df_param.cust_request_tn-df_param.tn
    df_param["dif_cust_request_tn_porc"]=np.where(df_param.cust_request_tn==0,0,100*df_param.dif_cust_request_tn/df_param.cust_request_tn)
   
    return df_param

In [6]:
def crear_lags_prod_cust(df_param):
    # Lags para product_id-customer_id
    for i in range(1, num_lags + 1):
        df_param[f'tn_lag_{i}'] = df_param.groupby(['product_id','customer_id'])['tn'].shift(i)

    return df_param

In [7]:
def crear_variable_target(df_param):
    df_param["tn_mas_2"] = df_param.groupby(['product_id','customer_id'])['tn'].shift(-2)

    return df_param

In [8]:
def crear_delta_lags_prod_cust(df_param):
    for i in range(1, num_lags+1):
        df_param[f'tn_delta_{i}'] = df_param.groupby(['product_id','customer_id'])['tn'].diff(i)

    return df_param

In [9]:
for cluster_iter in range(0,cant_clusters+1):
    df = pd.read_csv(arch_cluster_prefijo + str(cluster_iter) + ".csv")

    #Antes que nada, ordeno por prod-cust
    
    #Nuevos features
    df = crear_nuevos_features(df)

    # Lags
    df = crear_lags_prod_cust(df)

    # Variable Target
    df = crear_variable_target(df)

    df = crear_delta_lags_prod_cust(df)

    print(len(df))
    
    df.to_csv(arch_salida_prefijo + str(cluster_iter) + ".csv", index=False)

4020
3921692
3925039
3935373
3927537
3925446

## Verificaciones

In [10]:
# Nuevos features
df[["product_id","customer_id","periodo","tn","cust_request_tn","dif_cust_request_tn","dif_cust_request_tn_porc"]].sample(10)

,product_id,customer_id,periodo,tn,cust_request_tn,dif_cust_request_tn,dif_cust_request_tn_porc
3582567,21156,10421,201710,0.00000,0.00000,0.0,0.0
1804238,20502,10464,201804,0.00000,0.00000,0.0,0.0
2922147,20876,10085,201905,0.00000,0.00000,0.0,0.0
393096,20103,10543,201902,0.00000,0.00000,0.0,0.0
3276613,21016,10189,201708,0.00109,0.00109,0.0,0.0
153153,20040,10413,201807,0.00000,0.00000,0.0,0.0
348483,20092,10056,201810,0.00000,0.00000,0.0,0.0
2164600,20620,10461,201910,0.00000,0.00000,0.0,0.0
3457148,21084,10482,201901,0.00000,0.00000,0.0,0.0
2028079,20579,10244,201701,0.00000,0.00000,0.0,0.0

In [11]:
# Lags prod-cust
df[["product_id","customer_id","periodo","tn","tn_lag_1","tn_lag_2","tn_lag_3"]].head(50)

    product_id  customer_id  periodo        tn  tn_lag_1  tn_lag_2  tn_lag_3
0        20001        10014   201701   0.12312       NaN       NaN       NaN
1        20001        10014   201702   1.35435   0.12312       NaN       NaN
2        20001        10014   201703  12.07725   1.35435   0.12312       NaN
3        20001        10014   201704   0.61562  12.07725   1.35435   0.12312
4        20001        10014   201705   0.86186   0.61562  12.07725   1.35435
5        20001        10014   201706   0.00000   0.86186   0.61562  12.07725
6        20001        10014   201707   6.77177   0.00000   0.86186   0.61562
7        20001        10014   201708  11.97651   6.77177   0.00000   0.86186
8        20001        10014   201709   5.64127  11.97651   6.77177   0.00000
9        20001        10014   201710   1.23123   5.64127  11.97651   6.77177
10       20001        10014   201711   4.29811   1.23123   5.64127  11.97651
11       20001        10014   201712   0.86186   4.29811   1.23123   5.64127
12       20001        10014   201801   0.00000   0.86186   4.29811   1.23123
13       20001        10014   201802   0.00000   0.00000   0.86186   4.29811
14       20001        10014   201803   0.49289   0.00000   0.00000   0.86186
15       20001        10014   201804   0.00000   0.49289   0.00000   0.00000
16       20001        10014   201805   0.00000   0.00000   0.49289   0.00000
17       20001        10014   201806   0.86256   0.00000   0.00000   0.49289
18       20001        10014   201807   1.23223   0.86256   0.00000   0.00000
19       20001        10014   201808   1.10901   1.23223   0.86256   0.00000
20       20001        10014   201809   0.36967   1.10901   1.23223   0.86256
21       20001        10014   201810   0.68333   0.36967   1.10901   1.23223
22       20001        10014   201811   4.61527   0.68333   0.36967   1.10901
23       20001        10014   201812   1.60190   4.61527   0.68333   0.36967
24       20001        10014   201901   2.58769   1.60190   4.61527   0.68333
25       20001        10014   201902   0.73934   2.58769   1.60190   4.61527
26       20001        10014   201903   0.24645   0.73934   2.58769   1.60190
27       20001        10014   201904   0.86256   0.24645   0.73934   2.58769
28       20001        10014   201905   0.17923   0.86256   0.24645   0.73934
29       20001        10014   201906   0.49289   0.17923   0.86256   0.24645
30       20001        10014   201907   5.62345   0.49289   0.17923   0.86256
31       20001        10014   201908   5.79149   5.62345   0.49289   0.17923
32       20001        10014   201909   2.21802   5.79149   5.62345   0.49289
33       20001        10014   201910   0.49289   2.21802   5.79149   5.62345
34       20001        10014   201911   1.23223   0.49289   2.21802   5.79149
35       20001        10014   201912   0.00000   1.23223   0.49289   2.21802
36       20001        10024   201701   0.61562       NaN       NaN       NaN
37       20001        10024   201702   1.23123   0.61562       NaN       NaN
38       20001        10024   201703   2.46246   1.23123   0.61562       NaN
39       20001        10024   201704   0.00000   2.46246   1.23123   0.61562
40       20001        10024   201705   2.46246   0.00000   2.46246   1.23123
41       20001        10024   201706   1.23123   2.46246   0.00000   2.46246
42       20001        10024   201707   1.23123   1.23123   2.46246   0.00000
43       20001        10024   201708   0.00000   1.23123   1.23123   2.46246
44       20001        10024   201709   2.46246   0.00000   1.23123   1.23123
45       20001        10024   201710   0.00000   2.46246   0.00000   1.23123
46       20001        10024   201711   2.46246   0.00000   2.46246   0.00000
47       20001        10024   201712   0.61562   2.46246   0.00000   2.46246
48       20001        10024   201801   0.00000   0.61562   2.46246   0.00000
49       20001        10024   201802   1.23223   0.00000   0.61562   2.46246

In [12]:
# Variable Target
df[["product_id","customer_id","periodo","tn","tn_mas_2"]].head(50)

    product_id  customer_id  periodo        tn  tn_mas_2
0        20001        10014   201701   0.12312  12.07725
1        20001        10014   201702   1.35435   0.61562
2        20001        10014   201703  12.07725   0.86186
3        20001        10014   201704   0.61562   0.00000
4        20001        10014   201705   0.86186   6.77177
5        20001        10014   201706   0.00000  11.97651
6        20001        10014   201707   6.77177   5.64127
7        20001        10014   201708  11.97651   1.23123
8        20001        10014   201709   5.64127   4.29811
9        20001        10014   201710   1.23123   0.86186
10       20001        10014   201711   4.29811   0.00000
11       20001        10014   201712   0.86186   0.00000
12       20001        10014   201801   0.00000   0.49289
13       20001        10014   201802   0.00000   0.00000
14       20001        10014   201803   0.49289   0.00000
15       20001        10014   201804   0.00000   0.86256
16       20001        10014   201805   0.00000   1.23223
17       20001        10014   201806   0.86256   1.10901
18       20001        10014   201807   1.23223   0.36967
19       20001        10014   201808   1.10901   0.68333
20       20001        10014   201809   0.36967   4.61527
21       20001        10014   201810   0.68333   1.60190
22       20001        10014   201811   4.61527   2.58769
23       20001        10014   201812   1.60190   0.73934
24       20001        10014   201901   2.58769   0.24645
25       20001        10014   201902   0.73934   0.86256
26       20001        10014   201903   0.24645   0.17923
27       20001        10014   201904   0.86256   0.49289
28       20001        10014   201905   0.17923   5.62345
29       20001        10014   201906   0.49289   5.79149
30       20001        10014   201907   5.62345   2.21802
31       20001        10014   201908   5.79149   0.49289
32       20001        10014   201909   2.21802   1.23223
33       20001        10014   201910   0.49289   0.00000
34       20001        10014   201911   1.23223       NaN
35       20001        10014   201912   0.00000       NaN
36       20001        10024   201701   0.61562   2.46246
37       20001        10024   201702   1.23123   0.00000
38       20001        10024   201703   2.46246   2.46246
39       20001        10024   201704   0.00000   1.23123
40       20001        10024   201705   2.46246   1.23123
41       20001        10024   201706   1.23123   0.00000
42       20001        10024   201707   1.23123   2.46246
43       20001        10024   201708   0.00000   0.00000
44       20001        10024   201709   2.46246   2.46246
45       20001        10024   201710   0.00000   0.61562
46       20001        10024   201711   2.46246   0.00000
47       20001        10024   201712   0.61562   1.23223
48       20001        10024   201801   0.00000   2.46446
49       20001        10024   201802   1.23223   3.69669

In [13]:
# Delta Lags prod-cust
df[["product_id","customer_id","periodo","tn","tn_lag_1","tn_delta_1","tn_lag_2","tn_delta_2","tn_lag_3","tn_delta_3"]].head(50)

,product_id,customer_id,periodo,tn,tn_lag_1,tn_delta_1,tn_lag_2,tn_delta_2,tn_lag_3,tn_delta_3
0,20001,10014,201701,0.12312,NaN,NaN,NaN,NaN,NaN,NaN
1,20001,10014,201702,1.35435,0.12312,1.23123,NaN,NaN,NaN,NaN
2,20001,10014,201703,12.07725,1.35435,10.72290,0.12312,11.95413,NaN,NaN
3,20001,10014,201704,0.61562,12.07725,-11.46163,1.35435,-0.73873,0.12312,0.49250
4,20001,10014,201705,0.86186,0.61562,0.24624,12.07725,-11.21539,1.35435,-0.49249
5,20001,10014,201706,0.00000,0.86186,-0.86186,0.61562,-0.61562,12.07725,-12.07725
6,20001,10014,201707,6.77177,0.00000,6.77177,0.86186,5.90991,0.61562,6.15615
7,20001,10014,201708,11.97651,6.77177,5.20474,0.00000,11.97651,0.86186,11.11465
8,20001,10014,201709,5.64127,11.97651,-6.33524,6.77177,-1.13050,0.00000,5.64127
9,20001,10014,201710,1.23123,5.64127,-4.41004,11.97651,-10.74528,6.77177,-5.54054
10,20001,10014,201711,4.29811,1.23123,3.06688,5.64127,-1.34316,11.97651,-7.67840
11,20001,10014,201712,0.86186,4.29811,-3.43625,1.23123,-0.36937,5.64127,-4.77941
12,20001,10014,201801,0.00000,0.86186,-0.86186,4.29811,-4.29811,1.23123,-1.23123
13,20001,10014,201802,0.00000,0.00000,0.00000,0.86186,-0.86186,4.29811,-4.29811
14,20001,10014,201803,0.49289,0.00000,0.49289,0.00000,0.49289,0.86186,-0.36897
15,20001,10014,201804,0.00000,0.49289,-0.49289,0.00000,0.00000,0.00000,0.00000
16,20001,10014,201805,0.00000,0.00000,0.00000,0.49289,-0.49289,0.00000,0.00000
17,20001,10014,201806,0.86256,0.00000,0.86256,0.00000,0.86256,0.49289,0.36967
18,20001,10014,201807,1.23223,0.86256,0.36967,0.00000,1.23223,0.00000,1.23223
19,20001,10014,201808,1.10901,1.23223,-0.12322,0.86256,0.24645,0.00000,1.10901
20,20001,10014,201809,0.36967,1.10901,-0.73934,1.23223,-0.86256,0.86256,-0.49289
21,20001,10014,201810,0.68333,0.36967,0.31366,1.10901,-0.42568,1.23223,-0.54890
22,20001,10014,201811,4.61527,0.68333,3.93194,0.36967,4.24560,1.10901,3.50626
23,20001,10014,201812,1.60190,4.61527,-3.01337,0.68333,0.91857,0.36967,1.23223
24,20001,10014,201901,2.58769,1.60190,0.98579,4.61527,-2.02758,0.68333,1.90436
25,20001,10014,201902,0.73934,2.58769,-1.84835,1.60190,-0.86256,4.61527,-3.87593
26,20001,10014,201903,0.24645,0.73934,-0.49289,2.58769,-2.34124,1.60190,-1.35545
27,20001,10014,201904,0.86256,0.24645,0.61611,0.73934,0.12322,2.58769,-1.72513
28,20001,10014,201905,0.17923,0.86256,-0.68333,0.24645,-0.06722,0.73934,-0.56011
29,20001,10014,201906,0.49289,0.17923,0.31366,0.86256,-0.36967,0.24645,0.24644
30,20001,10014,201907,5.62345,0.49289,5.13056,0.17923,5.44422,0.86256,4.76089
31,20001,10014,201908,5.79149,5.62345,0.16804,0.49289,5.29860,0.17923,5.61226
32,20001,10014,201909,2.21802,5.79149,-3.57347,5.62345,-3.40543,0.49289,1.72513
33,20001,10014,201910,0.49289,2.21802,-1.72513,5.79149,-5.29860,5.62345,-5.13056
34,20001,10014,201911,1.23223,0.49289,0.73934,2.21802,-0.98579,5.79149,-4.55926
35,20001,10014,201912,0.00000,1.23223,-1.23223,0.49289,-0.49289,2.21802,-2.21802
36,20001,10024,201701,0.61562,NaN,NaN,NaN,NaN,NaN,NaN
37,20001,10024,201702,1.23123,0.61562,0.61561,NaN,NaN,NaN,NaN
38,20001,10024,201703,2.46246,1.23123,1.23123,0.61562,1.84684,NaN,NaN
39,20001,10024,201704,0.00000,2.46246,-2.46246,1.23123,-1.23123,0.61562,-0.61562
40,20001,10024,201705,2.46246,0.00000,2.46246,2.46246,0.00000,1.23123,1.23123
41,20001,10024,201706,1.23123,2.46246,-1.23123,0.00000,1.23123,2.46246,-1.23123
42,20001,10024,201707,1.23123,1.23123,0.00000,2.46246,-1.23123,0.00000,1.23123
43,20001,10024,201708,0.00000,1.23123,-1.23123,1.23123,-1.23123,2.46246,-2.46246
44,20001,10024,201709,2.46246,0.00000,2.46246,1.23123,1.23123,1.23123,1.23123
45,20001,10024,201710,0.00000,2.46246,-2.46246,0.00000,0.00000,1.23123,-1.23123
46,20001,10024,201711,2.46246,0.00000,2.46246,2.46246,0.00000,0.00000,2.46246
47,20001,10024,201712,0.61562,2.46246,-1.84684,0.00000,0.61562,2.46246,-1.84684
48,20001,10024,201801,0.00000,0.61562,-0.61562,2.46246,-2.46246,0.00000,0.00000
49,20001,10024,201802,1.23223,0.00000,1.23223,0.61562,0.61661,2.46246,-1.23023

######### Agregar cuando se pongan lags de prod, cust y cats

for i in range(1, num_lags + 1):
    df_cat1[f'cat1_tn_lag_{i}'] = df_cat1.groupby('cat1')['cat1_tn'].shift(i)
    df_cat1[f'cat1_tn_delta_{i}'] = df_cat1.groupby('cat1')['cat1_tn'].diff(i)

df_cat1.head()

df = df.merge(df_cat1,how="inner",on=["cat1","periodo"])
df.head()

df[["product_id","cat1","periodo","cat1_tn","cat1_tn_lag_1","cat1_tn_delta_1","cat1_tn_lag_2","cat1_tn_delta_2","cat1_tn_lag_3","cat1_tn_delta_3"]].sort_values(by=["product_id","periodo"],ascending=True).head(10)

df_cat1_hc = df_cat1[df_cat1.cat1=="HC"]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3925446 entries, 0 to 3925445
Data columns (total 35 columns):
 #   Column                     Dtype
---  ------                     -----
 0   product_id                 int64
 1   periodo                    int64
 2   customer_id                int64
 3   cero_ventas                int64
 4   plan_precios_cuidados      float64
 5   cust_request_qty           float64
 6   cust_request_tn            float64
 7   tn                         float64
 8   periodo_fecha              object
 9   mes                        int64
 10  meses_historia_prod        int64
 11  meses_historia_cliente     int64
 12  cliente_estrella           int64
 13  prod_cust                  object
 14  cat1                       object
 15  cat2                       object
 16  cat3                       object
 17  brand                      object
 18  sku_size                   float64
 19  producto_estrella          float64
 20  temp_media                 float64
 21  temp_max_media             float64
 22  temp_min_media             float64
 23  IPC                        float64
 24  promedio_mens_dolar_venta  float64
 25  catastrofe                 bool
 26  dif_cust_request_tn        float64
 27  dif_cust_request_tn_porc   float64
 28  tn_lag_1                   float64
 29  tn_lag_2                   float64
 30  tn_lag_3                   float64
 31  tn_mas_2                   float64
 32  tn_delta_1                 float64
 33  tn_delta_2                 float64
 34  tn_delta_3                 float64
dtypes: bool(1), float64(20), int64(8), object(6)
memory usage: 1022.0+ MB

In [15]:
df.isna().sum()

product_id                        0
periodo                           0
customer_id                       0
cero_ventas                       0
plan_precios_cuidados             0
cust_request_qty                  0
cust_request_tn                   0
tn                                0
periodo_fecha                     0
mes                               0
meses_historia_prod               0
meses_historia_cliente            0
cliente_estrella                  0
prod_cust                         0
cat1                              0
cat2                              0
cat3                              0
brand                             0
sku_size                          0
producto_estrella                 0
temp_media                        0
temp_max_media                    0
temp_min_media                    0
IPC                               0
promedio_mens_dolar_venta         0
catastrofe                        0
dif_cust_request_tn               0
dif_cust_request_tn_porc          0
tn_lag_1                     147193
tn_lag_2                     293527
tn_lag_3                     438578
tn_mas_2                     293527
tn_delta_1                   147193
tn_delta_2                   293527
tn_delta_3                   438578
dtype: int64

In [16]:
len(df.columns)

35