In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
####################################################
############# Setear segun cada maquina ############
#os.chdir("C:/Users/herna/labo3_empresa3_repo/")
#os.chdir("C:/diego_tools/labo3/")
os.chdir("/home/dcastro_contacto/buckets/b1/")
####################################################

In [3]:
arch_entrada = "datasets/emp3_sellout_producto_base.csv"
arch_salida = "datasets/emp3_prediccion_201904.xlsx"
arch_prod_ids_prediccion = "datasets/productos_a_predecir_201902.csv"

In [4]:
df_sellout = pd.read_csv(arch_entrada)
df_sellout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34707 entries, 0 to 34706
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   product_id                 34707 non-null  int64
 1   periodo                    34707 non-null  int64
 2   product_id_tn              34707 non-null  float64
 3   cero_ventas                34707 non-null  int64
 4   cust_request_qty           34707 non-null  float64
 5   cust_request_tn            34707 non-null  float64
 6   mes                        34707 non-null  int64
 7   producto_estrella          34707 non-null  float64
 8   plan_precios_cuidados      34707 non-null  float64
 9   meses_historia_prod        34707 non-null  int64
 10  cat1                       34707 non-null  object
 11  cat2                       34707 non-null  object
 12  cat3                       34707 non-null  object
 13  sku_size                   34707 non-null  float64
 14  temp_media                 34707 non-null  float64
 15  temp_min_media             34707 non-null  float64
 16  temp_max_media             34707 non-null  float64
 17  IPC                        34707 non-null  float64
 18  promedio_mens_dolar_venta  34707 non-null  float64
 19  catastrofe                 34707 non-null  bool
dtypes: bool(1), float64(11), int64(5), object(3)
memory usage: 5.1+ MB

In [5]:
df_sellout = df_sellout[df_sellout.periodo==201904]
len(df_sellout)

1105

In [6]:
df_prods_prediccion=pd.read_csv(arch_prod_ids_prediccion)
len(df_prods_prediccion)

868

In [7]:
df_sellout = df_sellout[df_sellout.product_id.isin(df_prods_prediccion.product_id)]
df_sellout = df_sellout[["product_id","product_id_tn"]].reset_index(drop=True)
df_sellout = df_sellout.rename(columns={"product_id_tn":"tn"})
len(df_sellout)

868

In [8]:
df_sellout.head()

   product_id          tn
0       20001  1647.63848
1       20002  1287.62346
2       20003   565.33774
3       20004   466.70901
4       20005   624.99880

In [9]:
df_sellout.to_excel(arch_salida,index=False)
df_sellout.tn.sum()

33763.86541