In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

# importo los .py
import sys
sys.path.append("auxiliares")
import config
import feature_eng

from warnings import simplefilter 
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
simplefilter(action="ignore", category=pd.errors.SettingWithCopyWarning)

In [2]:
####################################################
############# Setear segun cada maquina ############
#os.chdir("C:/Users/herna/labo3_empresa3_repo/")
#os.chdir("C:/diego_tools/labo3/")
os.chdir("/home/dcastro_contacto/buckets/b1/")
####################################################

In [3]:
arch_entrada = "datasets/emp3_sellout_base_estrellas.csv"
arch_salida = "datasets/emp3_sellout_fe_estrellas.csv"

arch_clientes = "datasets/emp3_sellout_cliente_base.csv"
arch_cat1 = "datasets/emp3_sellout_cat1_base.csv"
arch_cat2 = "datasets/emp3_sellout_cat2_base.csv"
arch_cat3 = "datasets/emp3_sellout_cat3_base.csv"

In [4]:
df_sellout = pd.read_csv(arch_entrada)
df_sellout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   product_id                 3900 non-null   int64
 1   periodo                    3900 non-null   int64
 2   customer_id                3900 non-null   int64
 3   cero_ventas                3900 non-null   int64
 4   plan_precios_cuidados      3900 non-null   float64
 5   cust_request_qty           3900 non-null   float64
 6   cust_request_tn            3900 non-null   float64
 7   tn                         3900 non-null   float64
 8   periodo_fecha              3900 non-null   object
 9   mes                        3900 non-null   int64
 10  meses_historia_prod        3900 non-null   int64
 11  meses_historia_cliente     3900 non-null   int64
 12  cliente_estrella           3900 non-null   int64
 13  prod_cust                  3900 non-null   object
 14  cat1                       3900 non-null   object
 15  cat2                       3900 non-null   object
 16  cat3                       3900 non-null   object
 17  brand                      3900 non-null   object
 18  sku_size                   3900 non-null   float64
 19  producto_estrella          3900 non-null   float64
 20  temp_media                 3900 non-null   float64
 21  temp_max_media             3900 non-null   float64
 22  temp_min_media             3900 non-null   float64
 23  IPC                        3900 non-null   float64
 24  promedio_mens_dolar_venta  3900 non-null   float64
 25  catastrofe                 3900 non-null   bool
dtypes: bool(1), float64(11), int64(8), object(6)
memory usage: 765.7+ KB

In [5]:
df_clientes = pd.read_csv(arch_clientes)
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18975 entries, 0 to 18974
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     18975 non-null  int64
 1   periodo         18975 non-null  int64
 2   customer_id_tn  18975 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 444.9 KB

In [6]:
df_cat1 = pd.read_csv(arch_cat1)
df_cat1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cat1     140 non-null    object
 1   periodo  140 non-null    int64
 2   cat1_tn  140 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.4+ KB

In [7]:
df_cat2 = pd.read_csv(arch_cat2)
df_cat2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cat2     560 non-null    object
 1   periodo  560 non-null    int64
 2   cat2_tn  560 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 13.2+ KB

In [8]:
df_cat3 = pd.read_csv(arch_cat3)
df_cat3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2717 entries, 0 to 2716
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cat3     2717 non-null   object
 1   periodo  2717 non-null   int64
 2   cat3_tn  2717 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 63.8+ KB

## Variable Target

In [9]:
df_sellout = feature_eng.crear_target_product(df_sellout)
df_sellout.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3900 entries, 0 to 3899
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   product_id                 3900 non-null   int64
 1   periodo                    3900 non-null   int64
 2   customer_id                3900 non-null   int64
 3   cero_ventas                3900 non-null   int64
 4   plan_precios_cuidados      3900 non-null   float64
 5   cust_request_qty           3900 non-null   float64
 6   cust_request_tn            3900 non-null   float64
 7   tn                         3900 non-null   float64
 8   periodo_fecha              3900 non-null   object
 9   mes                        3900 non-null   int64
 10  meses_historia_prod        3900 non-null   int64
 11  meses_historia_cliente     3900 non-null   int64
 12  cliente_estrella           3900 non-null   int64
 13  prod_cust                  3900 non-null   object
 14  cat1                       3900 non-null   object
 15  cat2                       3900 non-null   object
 16  cat3                       3900 non-null   object
 17  brand                      3900 non-null   object
 18  sku_size                   3900 non-null   float64
 19  producto_estrella          3900 non-null   float64
 20  temp_media                 3900 non-null   float64
 21  temp_max_media             3900 non-null   float64
 22  temp_min_media             3900 non-null   float64
 23  IPC                        3900 non-null   float64
 24  promedio_mens_dolar_venta  3900 non-null   float64
 25  catastrofe                 3900 non-null   bool
 26  tn_mas_2                   3880 non-null   float64
dtypes: bool(1), float64(12), int64(8), object(6)
memory usage: 826.5+ KB

## Nuevos Features

In [10]:
df_sellout = feature_eng.crear_nuevos_features(df_sellout)
df_sellout.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3900 entries, 0 to 3899
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   product_id                 3900 non-null   int64
 1   periodo                    3900 non-null   int64
 2   customer_id                3900 non-null   int64
 3   cero_ventas                3900 non-null   int64
 4   plan_precios_cuidados      3900 non-null   float64
 5   cust_request_qty           3900 non-null   float64
 6   cust_request_tn            3900 non-null   float64
 7   tn                         3900 non-null   float64
 8   periodo_fecha              3900 non-null   object
 9   mes                        3900 non-null   int64
 10  meses_historia_prod        3900 non-null   int64
 11  meses_historia_cliente     3900 non-null   int64
 12  cliente_estrella           3900 non-null   int64
 13  prod_cust                  3900 non-null   object
 14  cat1                       3900 non-null   object
 15  cat2                       3900 non-null   object
 16  cat3                       3900 non-null   object
 17  brand                      3900 non-null   object
 18  sku_size                   3900 non-null   float64
 19  producto_estrella          3900 non-null   float64
 20  temp_media                 3900 non-null   float64
 21  temp_max_media             3900 non-null   float64
 22  temp_min_media             3900 non-null   float64
 23  IPC                        3900 non-null   float64
 24  promedio_mens_dolar_venta  3900 non-null   float64
 25  catastrofe                 3900 non-null   bool
 26  tn_mas_2                   3880 non-null   float64
 27  dif_cust_request_tn        3900 non-null   float64
 28  dif_cust_request_tn_porc   3900 non-null   float64
dtypes: bool(1), float64(14), int64(8), object(6)
memory usage: 887.4+ KB

In [11]:
df_sellout = feature_eng.crear_features_temporales("prod_cust",df_sellout, config.NUM_LAGS_PARAM,config.FAMILIA_FEATURES_TEMP_PARAM)
df_clientes = feature_eng.crear_features_temporales("customer_id",df_clientes,config.NUM_LAGS_PARAM,config.FAMILIA_FEATURES_TEMP_PARAM)
df_cat1 = feature_eng.crear_features_temporales("cat1",df_cat1,config.NUM_LAGS_PARAM,config.FAMILIA_FEATURES_TEMP_PARAM)
df_cat2 = feature_eng.crear_features_temporales("cat2",df_cat2, config.NUM_LAGS_PARAM,config.FAMILIA_FEATURES_TEMP_PARAM)
df_cat3 = feature_eng.crear_features_temporales("cat3",df_cat3, config.NUM_LAGS_PARAM,config.FAMILIA_FEATURES_TEMP_PARAM)

print(len(df_sellout))
df_sellout = df_sellout.merge(df_clientes,how="left",on=["customer_id","periodo"])
df_sellout = df_sellout.merge(df_cat1,how="left",on=["cat1","periodo"])
df_sellout = df_sellout.merge(df_cat2,how="left",on=["cat2","periodo"])
df_sellout = df_sellout.merge(df_cat3,how="left",on=["cat3","periodo"])
print(len(df_sellout))

3900
3900

In [12]:
for col in df_sellout.columns:
    print(col)

product_id
periodo
customer_id
cero_ventas
plan_precios_cuidados
cust_request_qty
cust_request_tn
tn
periodo_fecha
mes
meses_historia_prod
meses_historia_cliente
cliente_estrella
prod_cust
cat1
cat2
cat3
brand
sku_size
producto_estrella
temp_media
temp_max_media
temp_min_media
IPC
promedio_mens_dolar_venta
catastrofe
tn_mas_2
dif_cust_request_tn
dif_cust_request_tn_porc
prod_cust_tn_delta_lag_1
prod_cust_tn_delta_lag_2
prod_cust_tn_delta_lag_3
customer_id_tn
customer_id_tn_delta_lag_1
customer_id_tn_delta_lag_2
customer_id_tn_delta_lag_3
cat1_tn
cat1_tn_delta_lag_1
cat1_tn_delta_lag_2
cat1_tn_delta_lag_3
cat2_tn
cat2_tn_delta_lag_1
cat2_tn_delta_lag_2
cat2_tn_delta_lag_3
cat3_tn
cat3_tn_delta_lag_1
cat3_tn_delta_lag_2
cat3_tn_delta_lag_3

In [13]:
df_sellout.to_csv(arch_salida, index=False)

In [14]:
print(len(df_sellout))

3900