In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

# importo los .py
import sys
sys.path.append("auxiliares")
import config
import feature_eng

from warnings import simplefilter 
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
simplefilter(action="ignore", category=pd.errors.SettingWithCopyWarning)

In [2]:
####################################################
############# Setear segun cada maquina ############
#os.chdir("C:/Users/herna/labo3_empresa3_repo/")
#os.chdir("C:/diego_tools/labo3/")
os.chdir("/home/dcastro_contacto/buckets/b1/")
####################################################

In [3]:
arch_entrada = "datasets/emp3_sellout_producto_base.csv"
arch_salida = "datasets/emp3_sellout_producto_fe.csv"

arch_cat1 = "datasets/emp3_sellout_cat1_base.csv"
arch_cat2 = "datasets/emp3_sellout_cat2_base.csv"
arch_cat3 = "datasets/emp3_sellout_cat3_base.csv"

In [4]:
df_sellout = pd.read_csv(arch_entrada)
df_sellout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34707 entries, 0 to 34706
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   product_id                 34707 non-null  int64
 1   periodo                    34707 non-null  int64
 2   product_id_tn              34707 non-null  float64
 3   cero_ventas                34707 non-null  int64
 4   cust_request_qty           34707 non-null  float64
 5   cust_request_tn            34707 non-null  float64
 6   mes                        34707 non-null  int64
 7   producto_estrella          34707 non-null  float64
 8   plan_precios_cuidados      34707 non-null  float64
 9   meses_historia_prod        34707 non-null  int64
 10  cat1                       34707 non-null  object
 11  cat2                       34707 non-null  object
 12  cat3                       34707 non-null  object
 13  sku_size                   34707 non-null  float64
 14  temp_media                 34707 non-null  float64
 15  temp_min_media             34707 non-null  float64
 16  temp_max_media             34707 non-null  float64
 17  IPC                        34707 non-null  float64
 18  promedio_mens_dolar_venta  34707 non-null  float64
 19  catastrofe                 34707 non-null  bool
dtypes: bool(1), float64(11), int64(5), object(3)
memory usage: 5.1+ MB

In [5]:
# Renombro tn
df_sellout = df_sellout.rename(columns={"product_id_tn":"tn"})

In [6]:
df_cat1 = pd.read_csv(arch_cat1)
df_cat1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cat1     140 non-null    object
 1   periodo  140 non-null    int64
 2   cat1_tn  140 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.4+ KB

In [7]:
df_cat2 = pd.read_csv(arch_cat2)
df_cat2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cat2     560 non-null    object
 1   periodo  560 non-null    int64
 2   cat2_tn  560 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 13.2+ KB

In [8]:
df_cat3 = pd.read_csv(arch_cat3)
df_cat3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2717 entries, 0 to 2716
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cat3     2717 non-null   object
 1   periodo  2717 non-null   int64
 2   cat3_tn  2717 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 63.8+ KB

## Variable Target

In [9]:
df_sellout = feature_eng.crear_target_product(df_sellout)
df_sellout.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34707 entries, 0 to 34706
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   product_id                 34707 non-null  int64
 1   periodo                    34707 non-null  int64
 2   tn                         34707 non-null  float64
 3   cero_ventas                34707 non-null  int64
 4   cust_request_qty           34707 non-null  float64
 5   cust_request_tn            34707 non-null  float64
 6   mes                        34707 non-null  int64
 7   producto_estrella          34707 non-null  float64
 8   plan_precios_cuidados      34707 non-null  float64
 9   meses_historia_prod        34707 non-null  int64
 10  cat1                       34707 non-null  object
 11  cat2                       34707 non-null  object
 12  cat3                       34707 non-null  object
 13  sku_size                   34707 non-null  float64
 14  temp_media                 34707 non-null  float64
 15  temp_min_media             34707 non-null  float64
 16  temp_max_media             34707 non-null  float64
 17  IPC                        34707 non-null  float64
 18  promedio_mens_dolar_venta  34707 non-null  float64
 19  catastrofe                 34707 non-null  bool
 20  tn_mas_2                   32244 non-null  float64
dtypes: bool(1), float64(12), int64(5), object(3)
memory usage: 5.6+ MB

## Nuevos Features

In [10]:
df_sellout = feature_eng.crear_nuevos_features(df_sellout)
df_sellout.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34707 entries, 0 to 34706
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   product_id                 34707 non-null  int64
 1   periodo                    34707 non-null  int64
 2   tn                         34707 non-null  float64
 3   cero_ventas                34707 non-null  int64
 4   cust_request_qty           34707 non-null  float64
 5   cust_request_tn            34707 non-null  float64
 6   mes                        34707 non-null  int64
 7   producto_estrella          34707 non-null  float64
 8   plan_precios_cuidados      34707 non-null  float64
 9   meses_historia_prod        34707 non-null  int64
 10  cat1                       34707 non-null  object
 11  cat2                       34707 non-null  object
 12  cat3                       34707 non-null  object
 13  sku_size                   34707 non-null  float64
 14  temp_media                 34707 non-null  float64
 15  temp_min_media             34707 non-null  float64
 16  temp_max_media             34707 non-null  float64
 17  IPC                        34707 non-null  float64
 18  promedio_mens_dolar_venta  34707 non-null  float64
 19  catastrofe                 34707 non-null  bool
 20  tn_mas_2                   32244 non-null  float64
 21  dif_cust_request_tn        34707 non-null  float64
 22  dif_cust_request_tn_porc   34707 non-null  float64
dtypes: bool(1), float64(14), int64(5), object(3)
memory usage: 6.1+ MB

In [11]:
df_sellout = feature_eng.crear_features_temporales("product_id",df_sellout, config.NUM_LAGS_PARAM,config.FAMILIA_FEATURES_TEMP_PARAM)
df_cat1 = feature_eng.crear_features_temporales("cat1",df_cat1,config.NUM_LAGS_PARAM,config.FAMILIA_FEATURES_TEMP_PARAM)
df_cat2 = feature_eng.crear_features_temporales("cat2",df_cat2, config.NUM_LAGS_PARAM,config.FAMILIA_FEATURES_TEMP_PARAM)
df_cat3 = feature_eng.crear_features_temporales("cat3",df_cat3, config.NUM_LAGS_PARAM,config.FAMILIA_FEATURES_TEMP_PARAM)

print(len(df_sellout))
df_sellout = df_sellout.merge(df_cat1,how="left",on=["cat1","periodo"])
df_sellout = df_sellout.merge(df_cat2,how="left",on=["cat2","periodo"])
df_sellout = df_sellout.merge(df_cat3,how="left",on=["cat3","periodo"])
print(len(df_sellout))

34707
34707

In [12]:
for col in df_sellout.columns:
    print(col)

product_id
periodo
tn
cero_ventas
cust_request_qty
cust_request_tn
mes
producto_estrella
plan_precios_cuidados
meses_historia_prod
cat1
cat2
cat3
sku_size
temp_media
temp_min_media
temp_max_media
IPC
promedio_mens_dolar_venta
catastrofe
tn_mas_2
dif_cust_request_tn
dif_cust_request_tn_porc
product_id_tn_rolling_std_1
product_id_tn_rolling_std_2
product_id_tn_rolling_std_3
product_id_tn_rolling_std_4
product_id_tn_rolling_std_5
product_id_tn_rolling_std_6
product_id_tn_rolling_std_7
product_id_tn_rolling_std_8
product_id_tn_rolling_std_9
product_id_tn_rolling_std_10
product_id_tn_rolling_std_11
product_id_tn_rolling_std_12
product_id_tn_rolling_std_13
product_id_tn_rolling_std_14
product_id_tn_rolling_std_15
cat1_tn
cat1_tn_rolling_std_1
cat1_tn_rolling_std_2
cat1_tn_rolling_std_3
cat1_tn_rolling_std_4
cat1_tn_rolling_std_5
cat1_tn_rolling_std_6
cat1_tn_rolling_std_7
cat1_tn_rolling_std_8
cat1_tn_rolling_std_9
cat1_tn_rolling_std_10
cat1_tn_rolling_std_11
cat1_tn_rolling_std_12
cat1_tn_rolling_std_13
cat1_tn_rolling_std_14
cat1_tn_rolling_std_15
cat2_tn
cat2_tn_rolling_std_1
cat2_tn_rolling_std_2
cat2_tn_rolling_std_3
cat2_tn_rolling_std_4
cat2_tn_rolling_std_5
cat2_tn_rolling_std_6
cat2_tn_rolling_std_7
cat2_tn_rolling_std_8
cat2_tn_rolling_std_9
cat2_tn_rolling_std_10
cat2_tn_rolling_std_11
cat2_tn_rolling_std_12
cat2_tn_rolling_std_13
cat2_tn_rolling_std_14
cat2_tn_rolling_std_15
cat3_tn
cat3_tn_rolling_std_1
cat3_tn_rolling_std_2
cat3_tn_rolling_std_3
cat3_tn_rolling_std_4
cat3_tn_rolling_std_5
cat3_tn_rolling_std_6
cat3_tn_rolling_std_7
cat3_tn_rolling_std_8
cat3_tn_rolling_std_9
cat3_tn_rolling_std_10
cat3_tn_rolling_std_11
cat3_tn_rolling_std_12
cat3_tn_rolling_std_13
cat3_tn_rolling_std_14
cat3_tn_rolling_std_15

In [13]:
df_sellout.to_csv(arch_salida, index=False)

In [14]:
print(len(df_sellout))

34707