In [1]:
import os
import lightgbm as lgb
import pandas as pd
import warnings
import numpy as np
import random
import ast


# importo los .py
import sys
sys.path.append("auxiliares")
import config
import metricas
import lightgbm_aux
import extras

pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_columns', None)

# Ignore all warnings
warnings.filterwarnings("ignore")

In [2]:
####################################################
############# Setear segun cada maquina ############
#os.chdir("C:/Users/herna/labo3_empresa3_repo/")
#os.chdir("C:/diego_tools/labo3/")
os.chdir("/home/dcastro_contacto/buckets/b1/")
####################################################

In [3]:
#Manual
prefijo_arch_entrada = "datasets/emp3_sellout_fe_cluster_manual_"
num_clusters=94
carpeta_base_exp = "exp/avanzada_1/"

#Time Warping
#prefijo_arch_entrada = "datasets/emp3_sellout_base_cluster_warp_"
#prefijo_arch_salida = "datasets/emp3_sellout_fe_cluster_warp_"
#num_clusters=94
#carpeta_exp_prefijo = "exp/avanzada_2/"

In [4]:
EXP_NOMBRE = "20231212_175029"

In [5]:
def lgbm_error_rate(preds, train_data):
    labels = train_data.get_label()
    ret_val = metricas.error_rate(labels,preds)
    return 'ER', ret_val, False

In [6]:
##############################################

In [7]:
carpeta_exp = carpeta_base_exp + EXP_NOMBRE + "/"

In [8]:
df_prods_prediccion_future=pd.read_csv(config.ARCH_PRODUCTOS_PREDICCION_FUTURE)
df_prods_prediccion_future.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  780 non-null    int64
dtypes: int64(1)
memory usage: 6.2 KB

In [9]:
df_opt_bay = pd.read_excel(carpeta_exp + "opt_bay.xlsx")
df_opt_bay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cluster         94 non-null     int64
 1   error_validate  82 non-null     float64
 2   lgbm_params     82 non-null     object
 3   best_iteration  82 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ KB

In [10]:
df_opt_bay.isna().sum()

cluster            0
error_validate    12
lgbm_params       12
best_iteration    12
dtype: int64

In [11]:
df_opt_bay = df_opt_bay.fillna("-1") 
df_opt_bay.head(50)

,cluster,error_validate,lgbm_params,best_iteration
0,0,115.96,"{'objective': 'regression', 'first_metric_only...",258.00
1,1,99.59,"{'objective': 'regression', 'first_metric_only...",358.00
2,2,99.75,"{'objective': 'regression', 'first_metric_only...",65.00
3,3,95.35,"{'objective': 'regression', 'first_metric_only...",713.00
4,4,87.51,"{'objective': 'regression', 'first_metric_only...",979.00
5,5,98.07,"{'objective': 'regression', 'first_metric_only...",366.00
6,6,84.52,"{'objective': 'regression', 'first_metric_only...",197.00
7,7,125.61,"{'objective': 'regression', 'first_metric_only...",320.00
8,8,83.38,"{'objective': 'regression', 'first_metric_only...",82.00
9,9,131.20,"{'objective': 'regression', 'first_metric_only...",127.00
10,10,90.98,"{'objective': 'regression', 'first_metric_only...",149.00
11,11,93.04,"{'objective': 'regression', 'first_metric_only...",610.00
12,12,84.67,"{'objective': 'regression', 'first_metric_only...",45.00
13,13,93.86,"{'objective': 'regression', 'first_metric_only...",647.00
14,14,71.27,"{'objective': 'regression', 'first_metric_only...",3465.00
15,15,183.98,"{'objective': 'regression', 'first_metric_only...",41.00
16,16,102.27,"{'objective': 'regression', 'first_metric_only...",87.00
17,17,113.48,"{'objective': 'regression', 'first_metric_only...",267.00
18,18,96.13,"{'objective': 'regression', 'first_metric_only...",511.00
19,19,83.90,"{'objective': 'regression', 'first_metric_only...",225.00
20,20,92.03,"{'objective': 'regression', 'first_metric_only...",267.00
21,21,109.38,"{'objective': 'regression', 'first_metric_only...",92.00
22,22,82.21,"{'objective': 'regression', 'first_metric_only...",177.00
23,23,91.58,"{'objective': 'regression', 'first_metric_only...",3521.00
24,24,143.57,"{'objective': 'regression', 'first_metric_only...",33.00
25,25,135.45,"{'objective': 'regression', 'first_metric_only...",162.00
26,26,86.37,"{'objective': 'regression', 'first_metric_only...",72.00
27,27,124.05,"{'objective': 'regression', 'first_metric_only...",29.00
28,28,95.90,"{'objective': 'regression', 'first_metric_only...",2228.00
29,29,127.71,"{'objective': 'regression', 'first_metric_only...",111.00
30,30,78.22,"{'objective': 'regression', 'first_metric_only...",1381.00
31,31,115.45,"{'objective': 'regression', 'first_metric_only...",774.00
32,32,97.98,"{'objective': 'regression', 'first_metric_only...",339.00
33,33,140.52,"{'objective': 'regression', 'first_metric_only...",51.00
34,34,116.12,"{'objective': 'regression', 'first_metric_only...",166.00
35,35,129.82,"{'objective': 'regression', 'first_metric_only...",116.00
36,36,94.64,"{'objective': 'regression', 'first_metric_only...",483.00
37,37,754.66,"{'objective': 'regression', 'first_metric_only...",87.00
38,38,173.16,"{'objective': 'regression', 'first_metric_only...",105.00
39,39,185.68,"{'objective': 'regression', 'first_metric_only...",16.00
40,40,86.89,"{'objective': 'regression', 'first_metric_only...",127.00
41,41,188.36,"{'objective': 'regression', 'first_metric_only...",1.00
42,42,96.73,"{'objective': 'regression', 'first_metric_only...",152.00
43,43,-1,-1,-1
44,44,119.17,"{'objective': 'regression', 'first_metric_only...",21.00
45,45,93.34,"{'objective': 'regression', 'first_metric_only...",77.00
46,46,199.56,"{'objective': 'regression', 'first_metric_only...",77.00
47,47,296.24,"{'objective': 'regression', 'first_metric_only...",1.00
48,48,-1,-1,-1
49,49,-1,-1,-1

In [12]:
prods_iter = []
custs_iter = []
preds_iter = []

for i in range(0,num_clusters):
    print("Cluster", i)
    
    if df_opt_bay.iloc[i].lgbm_params!="-1":
        df_sellout = pd.read_csv(prefijo_arch_entrada + str(i) + ".csv")
        
        ### Categoricas
        df_sellout = extras.convertir_categoricas_prod_cust(df_sellout)
    
        ### Remover columnas
        df_sellout = df_sellout.drop(columns=["periodo_fecha","brand"])
    
        # Modelo Final
        cols_remover_entren = ["tn_mas_2","periodo"]
        
        df_train_modelo_final = df_sellout[(df_sellout.periodo <= config.MODELO_FINAL_PERIODO_LIMITE_PARAM) & (df_sellout.periodo >= config.PERIODO_INICIO_PARAM)]
        df_future = df_sellout[(df_sellout.product_id.isin(df_prods_prediccion_future.product_id)) & (df_sellout.periodo == config.FUTURE_PERIODO_PARAM)]
        
        print("Periodos entrenar MODELO FINAL:",df_train_modelo_final.periodo.unique())
        print("Periodos FUTURE:",df_future.periodo.unique())
        
        # Variables entrenamiento
        X_train_modelo_final = df_train_modelo_final.drop(columns=cols_remover_entren, axis=1)
        y_train_modelo_final = df_train_modelo_final.tn_mas_2
        cols_entren = X_train_modelo_final.columns.tolist()
        
        X_future = df_future.drop(columns=cols_remover_entren, axis=1)
        
        print("\nX_train_all:", X_train_modelo_final.shape)
        print("y_train_all:", y_train_modelo_final.shape)
        print("\nX_future:", X_future.shape)
        
        lgbtrain_modelo_final = lgb.Dataset(data=X_train_modelo_final, label=y_train_modelo_final, feature_name=cols_entren)
        
        future_params = ast.literal_eval(df_opt_bay.iloc[i].lgbm_params) #convierto string a diccionario
        future_best_iter = int(df_opt_bay.iloc[i].best_iteration)
        y_pred_future = lightgbm_aux.semillerio(lgbtrain_modelo_final, future_params, future_best_iter, X_future,config.CANT_SEMILLAS)
        
        prods_iter.extend(X_future.product_id)
        custs_iter.extend(X_future.customer_id)
        preds_iter.extend(y_pred_future)
    else:
        print("Sin datos en el cluster")

Cluster 0
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (798001, 120)
y_train_all: (798001,)

X_future: (20298, 120)
Cluster 1
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (582501, 120)
y_train_all: (582501,)

X_future: (15522, 120)

KeyboardInterrupt:

In [ ]:
df_prediccion = pd.DataFrame(data={"product_id":prods_iter,"customer_id":custs_iter,"tn":y_pred_future)
df_prediccion_prod = df_prediccion.groupby("product_id")["tn"].sum().reset_index()
df_prediccion_prod.tn =  extras.limpiar_prediccion(df_prediccion_prod.tn)
df_prediccion_prod = df_prediccion_prod[df_prediccion_prod.product_id.isin(df_prods_prediccion_future.product_id)]
df_prediccion_prod.to_csv(carpeta_exp + "_prediccion.csv",index=False)
df_prediccion_prod