In [1]:
import os
import lightgbm as lgb
import pandas as pd
import warnings
import numpy as np
import random
import ast


# importo los .py
import sys
sys.path.append("auxiliares")
import config
import metricas
import lightgbm_aux
import extras

pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_columns', None)

# Ignore all warnings
warnings.filterwarnings("ignore")

In [2]:
####################################################
############# Setear segun cada maquina ############
#os.chdir("C:/Users/herna/labo3_empresa3_repo/")
#os.chdir("C:/diego_tools/labo3/")
os.chdir("/home/dcastro_contacto/buckets/b1/")
####################################################

In [3]:
#Manual
prefijo_arch_entrada = "datasets/emp3_sellout_fe_cluster_manual_"
num_clusters=94
carpeta_base_exp = "exp/avanzada_1/"

#Time Warping
#prefijo_arch_entrada = "datasets/emp3_sellout_base_cluster_warp_"
#prefijo_arch_salida = "datasets/emp3_sellout_fe_cluster_warp_"
#num_clusters=94
#carpeta_exp_prefijo = "exp/avanzada_2/"

In [4]:
EXP_NOMBRE = "20231215_205105"

In [5]:
def lgbm_error_rate(preds, train_data):
    labels = train_data.get_label()
    ret_val = metricas.error_rate(labels,preds)
    return 'ER', ret_val, False

In [6]:
##############################################

In [7]:
carpeta_exp = carpeta_base_exp + EXP_NOMBRE + "/"

In [8]:
df_prods_prediccion_future=pd.read_csv(config.ARCH_PRODUCTOS_PREDICCION_FUTURE)
df_prods_prediccion_future.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  780 non-null    int64
dtypes: int64(1)
memory usage: 6.2 KB

In [9]:
df_opt_bay = pd.read_excel(carpeta_exp + "opt_bay.xlsx")
df_opt_bay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cluster         94 non-null     int64
 1   error_validate  84 non-null     float64
 2   lgbm_params     84 non-null     object
 3   best_iteration  84 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ KB

In [10]:
df_opt_bay.isna().sum()

cluster            0
error_validate    10
lgbm_params       10
best_iteration    10
dtype: int64

In [11]:
df_opt_bay = df_opt_bay.fillna("-1") 
df_opt_bay.head(50)

,cluster,error_validate,lgbm_params,best_iteration
0,0,77.77,"{'objective': 'regression_l1', 'first_metric_o...",315.00
1,1,71.58,"{'objective': 'regression_l1', 'first_metric_o...",250.00
2,2,89.30,"{'objective': 'regression_l1', 'first_metric_o...",377.00
3,3,78.93,"{'objective': 'regression_l1', 'first_metric_o...",43.00
4,4,78.49,"{'objective': 'regression_l1', 'first_metric_o...",61.00
5,5,88.25,"{'objective': 'regression_l1', 'first_metric_o...",20.00
6,6,71.26,"{'objective': 'regression_l1', 'first_metric_o...",853.00
7,7,71.97,"{'objective': 'regression_l1', 'first_metric_o...",2815.00
8,8,72.06,"{'objective': 'regression_l1', 'first_metric_o...",182.00
9,9,73.01,"{'objective': 'regression_l1', 'first_metric_o...",423.00
10,10,85.37,"{'objective': 'regression_l1', 'first_metric_o...",314.00
11,11,93.04,"{'objective': 'regression_l1', 'first_metric_o...",630.00
12,12,80.18,"{'objective': 'regression_l1', 'first_metric_o...",71.00
13,13,81.77,"{'objective': 'regression_l1', 'first_metric_o...",550.00
14,14,62.76,"{'objective': 'regression_l1', 'first_metric_o...",703.00
15,15,100.00,"{'objective': 'regression_l1', 'first_metric_o...",1.00
16,16,65.36,"{'objective': 'regression_l1', 'first_metric_o...",1185.00
17,17,86.97,"{'objective': 'regression_l1', 'first_metric_o...",1163.00
18,18,94.48,"{'objective': 'regression_l1', 'first_metric_o...",82.00
19,19,75.54,"{'objective': 'regression_l1', 'first_metric_o...",764.00
20,20,85.83,"{'objective': 'regression_l1', 'first_metric_o...",182.00
21,21,81.88,"{'objective': 'regression_l1', 'first_metric_o...",57.00
22,22,69.74,"{'objective': 'regression_l1', 'first_metric_o...",219.00
23,23,73.91,"{'objective': 'regression_l1', 'first_metric_o...",214.00
24,24,66.77,"{'objective': 'regression_l1', 'first_metric_o...",683.00
25,25,73.68,"{'objective': 'regression_l1', 'first_metric_o...",1251.00
26,26,82.45,"{'objective': 'regression_l1', 'first_metric_o...",151.00
27,27,80.02,"{'objective': 'regression_l1', 'first_metric_o...",677.00
28,28,99.81,"{'objective': 'regression_l1', 'first_metric_o...",4.00
29,29,100.00,"{'objective': 'regression_l1', 'first_metric_o...",1.00
30,30,88.67,"{'objective': 'regression_l1', 'first_metric_o...",288.00
31,31,83.27,"{'objective': 'regression_l1', 'first_metric_o...",1029.00
32,32,89.94,"{'objective': 'regression_l1', 'first_metric_o...",2608.00
33,33,100.00,"{'objective': 'regression_l1', 'first_metric_o...",1.00
34,34,67.86,"{'objective': 'regression_l1', 'first_metric_o...",1470.00
35,35,97.21,"{'objective': 'regression_l1', 'first_metric_o...",2.00
36,36,90.62,"{'objective': 'regression_l1', 'first_metric_o...",253.00
37,37,80.10,"{'objective': 'regression_l1', 'first_metric_o...",42.00
38,38,78.48,"{'objective': 'regression_l1', 'first_metric_o...",100.00
39,39,100.00,"{'objective': 'regression_l1', 'first_metric_o...",1.00
40,40,80.60,"{'objective': 'regression_l1', 'first_metric_o...",114.00
41,41,93.57,"{'objective': 'regression_l1', 'first_metric_o...",3288.00
42,42,85.67,"{'objective': 'regression_l1', 'first_metric_o...",847.00
43,43,100.00,"{'objective': 'regression_l1', 'first_metric_o...",1.00
44,44,87.95,"{'objective': 'regression_l1', 'first_metric_o...",842.00
45,45,74.20,"{'objective': 'regression_l1', 'first_metric_o...",144.00
46,46,87.52,"{'objective': 'regression_l1', 'first_metric_o...",2021.00
47,47,100.00,"{'objective': 'regression_l1', 'first_metric_o...",1.00
48,48,99.92,"{'objective': 'regression_l1', 'first_metric_o...",75.00
49,49,-1,-1,-1

In [ ]:
prods_iter = []
custs_iter = []
preds_iter = []

for i in range(0,num_clusters):
    print("Cluster", i)

    df_sellout = pd.read_csv(prefijo_arch_entrada + str(i) + ".csv")
        
    ### Categoricas
    df_sellout = extras.convertir_categoricas_prod_cust(df_sellout)

    ### Remover columnas
    df_sellout = df_sellout.drop(columns=["periodo_fecha","brand"])
    
    if df_opt_bay.iloc[i].lgbm_params!="-1":
        
        # Modelo Final
        cols_remover_entren = ["tn_mas_2","periodo"]
        
        df_train_modelo_final = df_sellout[(df_sellout.periodo <= config.MODELO_FINAL_PERIODO_LIMITE_PARAM) & (df_sellout.periodo >= config.PERIODO_INICIO_PARAM)]
        df_future = df_sellout[(df_sellout.periodo == config.FUTURE_PERIODO_PARAM)]
        
        print("Periodos entrenar MODELO FINAL:",df_train_modelo_final.periodo.unique())
        print("Periodos FUTURE:",df_future.periodo.unique())
        
        # Variables entrenamiento
        X_train_modelo_final = df_train_modelo_final.drop(columns=cols_remover_entren, axis=1)
        y_train_modelo_final = df_train_modelo_final.tn_mas_2
        cols_entren = X_train_modelo_final.columns.tolist()
        
        X_future = df_future.drop(columns=cols_remover_entren, axis=1)
        
        print("\nX_train_all:", X_train_modelo_final.shape)
        print("y_train_all:", y_train_modelo_final.shape)
        print("\nX_future:", X_future.shape)
        
        lgbtrain_modelo_final = lgb.Dataset(data=X_train_modelo_final, label=y_train_modelo_final, feature_name=cols_entren)
        
        future_params = ast.literal_eval(df_opt_bay.iloc[i].lgbm_params) #convierto string a diccionario
        future_best_iter = int(df_opt_bay.iloc[i].best_iteration)
        y_pred_future = lightgbm_aux.semillerio(lgbtrain_modelo_final, future_params, future_best_iter, X_future,config.CANT_SEMILLAS)
        
        prods_iter.extend(X_future.product_id)
        custs_iter.extend(X_future.customer_id)
        preds_iter.extend(y_pred_future)
    else:
        print("Sin datos en el cluster")

        # Completo con prediccion 0
        df_sellout = df_sellout[["product_id","customer_id"]].drop_duplicates()
        df_sellout["pred"] = 0
        prods_iter.extend(df_sellout.product_id)
        custs_iter.extend(df_sellout.customer_id)
        preds_iter.extend(df_sellout.pred)

Cluster 0
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (798001, 120)
y_train_all: (798001,)

X_future: (34626, 120)
Cluster 1
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (582501, 120)
y_train_all: (582501,)

X_future: (21492, 120)
Cluster 2
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (211749, 120)
y_train_all: (211749,)

X_future: (8955, 120)
Cluster 3
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (1605850, 120)
y_train_all: (1605850,)

X_future: (65670, 120)
Cluster 4
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (185997, 120)
y_train_all: (185997,)

X_future: (6567, 120)
Cluster 5
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (714642, 120)
y_train_all: (714642,)

X_future: (27462, 120)
Cluster 6
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (231179, 120)
y_train_all: (231179,)

X_future: (7761, 120)
Cluster 7
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (170497, 120)
y_train_all: (170497,)

X_future: (8358, 120)
Cluster 8
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (81748, 120)
y_train_all: (81748,)

X_future: (2985, 120)
Cluster 9
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (131856, 120)
y_train_all: (131856,)

X_future: (5373, 120)
Cluster 10
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (309992, 120)
y_train_all: (309992,)

X_future: (10746, 120)
Cluster 11
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (35566, 120)
y_train_all: (35566,)

X_future: (1194, 120)
Cluster 12
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (384267, 120)
y_train_all: (384267,)

X_future: (17313, 120)
Cluster 13
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (1971338, 120)
y_train_all: (1971338,)

X_future: (81192, 120)
Cluster 14
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (160047, 120)
y_train_all: (160047,)

X_future: (5373, 120)
Cluster 15
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (17783, 120)
y_train_all: (17783,)

X_future: (597, 120)
Cluster 16
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (79602, 120)
y_train_all: (79602,)

X_future: (2985, 120)
Cluster 17
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (113461, 120)
y_train_all: (113461,)

X_future: (4179, 120)
Cluster 18
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (105901, 120)
y_train_all: (105901,)

X_future: (5373, 120)
Cluster 19
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (71132, 120)
y_train_all: (71132,)

X_future: (2388, 120)
Cluster 20
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (143165, 120)
y_train_all: (143165,)

X_future: (5970, 120)
Cluster 21
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (71132, 120)
y_train_all: (71132,)

X_future: (2388, 120)
Cluster 22
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (298347, 120)
y_train_all: (298347,)

X_future: (10746, 120)
Cluster 23
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (35566, 120)
y_train_all: (35566,)

X_future: (1194, 120)
Cluster 24
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (62605, 120)
y_train_all: (62605,)

X_future: (2388, 120)
Cluster 25
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (62605, 120)
y_train_all: (62605,)

X_future: (2388, 120)
Cluster 26
Periodos entrenar MODELO FINAL: [201701 201702 201703 201704 201705 201706 201707 201708 201709 201710
 201711 201712 201801 201802 201803 201804 201805 201806 201807 201808
 201809 201810 201811 201812 201901 201902 201903 201904 201905 201906
 201907 201909 201910]
Periodos FUTURE: [201912]

X_train_all: (1479117, 120)
y_train_all: (1479117,)

X_future: (65073, 120)

In [ ]:
df_prediccion = pd.DataFrame(data={"product_id":prods_iter,"customer_id":custs_iter,"tn":preds_iter})

#Competencia 1
df_prediccion_prod = df_prediccion.groupby("product_id")["tn"].sum().reset_index()
df_prediccion_prod.tn =  extras.limpiar_prediccion(df_prediccion_prod.tn)
df_prediccion_prod = df_prediccion_prod[df_prediccion_prod.product_id.isin(df_prods_prediccion_future.product_id)]
df_prediccion_prod.to_csv(carpeta_exp + "prediccion_comp1.csv",index=False)
print(df_prediccion_prod.head())
print(len(df_prediccion_prod))

# Competencia 2
star_products = [20001, 20002, 20003, 20004, 20005, 20006, 20007, 20009, 20011, 20032]
star_customers = [10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009, 10011, 10012, 10013]
df_prediccion["product_customer_id"]="P"+df_prediccion["product_id"].astype(str) + '-C' + df_prediccion["customer_id"].astype(str)
df_prediccion = df_prediccion[(df_prediccion.product_id.isin(star_products)) & (df_prediccion.customer_id.isin(star_customers))]
df_prediccion = df_prediccion.drop(columns=["product_id","customer_id"])
df_prediccion.to_csv(carpeta_exp + "prediccion_comp2.csv",index=False)
print(df_prediccion.head())
print(len(df_prediccion))